<ion-content>

  <website-header></website-header>

  <h1 class="title">מערכת Scale Sense</h1>

  <div class="page-container">

    <div id="upper-part">
      <h1>
        <ion-text color="secondary">מערכת ניהול המלאי המדוייקת והחסכונית ביותר</ion-text>
      </h1>
      <h5>הזמינו סחורה, בצעו מעקב שינויים וקבלו סחורה תוך ניהול מלאי ואינטגרציה מלאה למערכת השקילות הייחודית של Scale Sense</h5>
    </div>

    <div id="grid">

      <div class="det-box" *ngFor="let box of boxes">
        <h5>{{box.title}}</h5>
        <div>
          <p>{{box.text}}</p>
        </div>
      </div>

    </div>

    <div id="bottom-part">
      <h1>
        <ion-text color="secondary">נשמח לשמוע מכם</ion-text>
      </h1>
      <h5 (click)="navCtrl.navigateRoot('', {fragment: 'contact'})">השאירו פרטים ונחזור אליכם עם מידע נוסף</h5>
    </div>

  </div>

  <website-footer></website-footer>

</ion-content>
