@import "../website-page.component.scss";
@import "../register/register.page.scss";

#upper-part {
  max-width: 600px;
  padding: 1em;
  text-align: center;
  & > h1 {
    font-weight: bold;
  }
}

#grid {
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-bottom: 3em;
}

.det-box {
  margin: 1em;
  text-align: center;
  & > h5 {
    font-weight: bold;
  }
  & > div {
    padding: 1em;
    font-size: 0.8em;
    height: 16em;
  }
  &:first-child > div, &:nth-child(6) > div {
    background-color: rgb(0,151,156);
  }
  &:nth-child(2) > div, &:nth-child(4) > div, &:nth-child(8) > div {
    background-color: rgb(14,201,207);
  }
  &:nth-child(3) > div, &:nth-child(5) > div, &:nth-child(7) > div {
    background-color: rgb(104,223,227);
  }
}


#bottom-part {
  text-align: center;
  padding: 1em;
  cursor: pointer;
  & > h1 {
    font-weight: bold;
  }
  & > h5 {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: var(--ion-color-primary);
    }
  }
}
