<ion-header>
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content>

  <form class="page-container" *ngIf="supplier">

    <div id="forms">

      <div class="form">
        <p class="form-title">פרטי ספק</p>
        <div class="inputs">

          <ion-row class="input-div" *ngIf="!myBusinessMode">
            <ion-col size="3" required>מספר ספק</ion-col>
            <ion-col>
              <mat-form-field aria-label="Supplier serial">
                <input matInput disabled [value]="(supplier.nid || temporalSerial) | number : '3.0-0'" name="supplierNum">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>{{myBusinessMode ? 'שם העסק' : 'שם הספק'}}</ion-col>
            <ion-col>
              <mat-form-field aria-label="Supplier name">
                <input matInput [(ngModel)]="supplier.name" required name="supplierName">
                <mat-error>שדה חובה</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>לוגו</ion-col>
            <ion-col style="padding: 0" *ngIf="!logoPreview">
              <ion-button shape="round" color="secondary" (click)="fileInput.click()">העלאת תמונה</ion-button>
              <input class="ion-hide" type="file" accept="image/*" #fileInput (change)="chooseLogo($event.target.files[0])" aria-label="Logo" name="logo" required>
              <ion-button fill="clear" color="dark" class="ion-float-end" (click)="enterLink()">
                <ion-icon name="link" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col style="padding: 0; display: flex; justify-content: space-between; align-items: center;" *ngIf="logoPreview">
              <ion-thumbnail>
                <img [src]="logoPreview">
              </ion-thumbnail>
              <ion-button fill="clear" color="secondary" class="small-circle-btn" (click)="clearLogo()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>ח.פ</ion-col>
            <ion-col>
              <mat-form-field aria-label="Company ID">
                <input matInput [(ngModel)]="supplier.companyId" inputmode="number" pattern="[0-9]*" required name="companyId">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3">כתובת</ion-col>
            <ion-col>
              <mat-form-field aria-label="Address">
                <input matInput [(ngModel)]="supplier.address" name="address">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3">מספר טלפון</ion-col>
            <ion-col>
              <mat-form-field aria-label="Business phone">
                <input matInput [(ngModel)]="supplier.businessPhone" type="tel" name="businessPhone">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3">מספר פקס</ion-col>
            <ion-col>
              <mat-form-field aria-label="Fax number">
                <input matInput [(ngModel)]="supplier.fax" type="tel" name="fax">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="!myBusinessMode">
            <ion-col size="3">סטטוס</ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label [color]="statusColor" [matTooltip]="statusDesc">{{supplier.status | supplierStatus}}</ion-label>
                <ion-button slot="end" fill="clear" color="dark"
                            *ngIf="supplier.status != SupplierStatus.ACTIVE"
                            [disabled]="!supplier.companyId || !supplier.contacts[0].email"
                            (click)="findSupplier()">
                  <ion-icon slot="start" name="search"></ion-icon>
                  <ion-text>מציאת ספק</ion-text>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>

        </div>
      </div>

      <div class="form">
        <p class="form-title">פרטי איש קשר</p>
        <div class="inputs">

          <ion-row class="input-div" *ngIf="supplier.contacts[0]">
            <ion-col size="3" required>איש קשר</ion-col>
            <ion-col>
              <mat-form-field aria-label="Contact name">
                <input matInput [(ngModel)]="supplier.contacts[0].name" required name="contactName1">
                <mat-error>שדה חובה</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="1" style="padding: 0">
              <ion-fab-button size="small" (click)="supplier.contacts.push({})" [disabled]="supplier.contacts.length > 1 || !supplier.contacts[0].name || !supplier.contacts[0].email || !supplier.contacts[0].phone" title="איש קשר נוסף">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="supplier.contacts[0]">
            <ion-col size="3" required>נייד</ion-col>
            <ion-col>
              <mat-form-field aria-label="Contact phone">
                <input matInput [(ngModel)]="supplier.contacts[0].phone" type="tel" required name="phone1">
                <mat-error *ngIf="!supplier.contacts[0].phone">שדה חובה</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="supplier.contacts[0]">
            <ion-col size="3" required>דוא"ל</ion-col>
            <ion-col>
              <mat-form-field aria-label="Contact email">
                <input matInput [(ngModel)]="supplier.contacts[0].email" type="email" name="email1" [pattern]="emailRegex" required>
                <mat-error *ngIf="supplier.contacts[0].email">כתובת אימייל לא תקינה</mat-error>
                <mat-error *ngIf="!supplier.contacts[0].email">שדה חובה</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="supplier.contacts[1]">
            <ion-col size="3">איש קשר נוסף</ion-col>
            <ion-col>
              <mat-form-field aria-label="Additional contact name">
                <input matInput [(ngModel)]="supplier.contacts[1].name" name="contactName2">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="supplier.contacts[1]">
            <ion-col size="3">נייד</ion-col>
            <ion-col>
              <mat-form-field aria-label="Additional contact phone">
                <input matInput [(ngModel)]="supplier.contacts[1].phone" type="tel" name="phone2">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="supplier.contacts[1]">
            <ion-col size="3">דוא"ל</ion-col>
            <ion-col>
              <mat-form-field aria-label="Additional contact email">
                <input matInput [(ngModel)]="supplier.contacts[1].email" type="email" name="email2" [pattern]="emailRegex">
                <mat-error>כתובת אימייל לא תקינה</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

        </div>
      </div>

    </div>

    <ion-row id="bottom-section">
      <ion-col>
        <p *ngIf="supplier.created">
          <ion-text>תאריך הקמה: </ion-text>
          <ion-text>{{supplier.created | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
        <p *ngIf="supplier.modified">
          <ion-text>תאריך עדכון: </ion-text>
          <ion-text>{{supplier.modified | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
      </ion-col>
      <ion-col>
        <ion-button type="submit" shape="round" class="ion-float-end" (click)="save()">שמירת נתונים</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
