<ion-row class="not-header ion-hide-md-down">

<!--  Date-->
  <ion-col>
    <ion-text dir="ltr">
      {{(isDraft ? (order.modified || order.created) : order.supplyTime) | date : 'dd/MM/yyyy&emsp;HH:mm'}}
    </ion-text>
  </ion-col>

<!--  Serial number-->
  <ion-col size="1.5">{{order.serial}}</ion-col>

<!--  BusinessData-->
  <ion-col>
    <ion-img [src]="businessData?.logo" class="ion-margin-end" *ngIf="businessService.side == 'c'"></ion-img>
    <ion-text>{{businessData?.name}}</ion-text>
  </ion-col>

<!--  Status-->
  <ion-col size="3" *ngIf="!isDraft">
    <ion-text [color]="statusInRed ? 'danger' : ''">
      {{order.status | orderStatusText}}
    </ion-text>
  </ion-col>

<!--  Open order button-->
  <ion-col>
    <ion-button color="dark" fill="outline" shape="round"
                (click)="actionClicked()"
                [disabled]="btnDisabled">
      {{actionBtnTitle}}
    </ion-button>
  </ion-col>

<!--  Delete draft button-->
  <ion-col *ngIf="isDraft">
    <ion-button color="dark" fill="outline" shape="round"
                (click)="deleteDraftClick.emit()"
    >מחיקה</ion-button>
  </ion-col>
</ion-row>


<ion-item-sliding>

  <ion-item class="ion-hide-md-up"
            (click)="actionClicked()"
            [disabled]="btnDisabled"
            button>
    <ion-thumbnail slot="start">
      <img [src]="businessData?.logo">
    </ion-thumbnail>
    <ion-label>
      <p>{{order.serial}}</p>
      <h2>
        <ion-text [color]="statusInRed ? 'danger' : ''">{{order.status | orderStatusText}}</ion-text>
      </h2>
      <h6>
        <ion-text>ת. אספקה: </ion-text>
        <ion-text>{{(isDraft ? (order.modified || order.created) : order.supplyTime) | date : 'dd/MM/yyyy&emsp;HH:mm'}}</ion-text>
      </h6>
    </ion-label>
  </ion-item>

  <ion-item-options side="end" *ngIf="isDraft">
    <ion-item-option color="danger" expandable (click)="deleteDraftClick.emit()">
      <ion-icon name="trash" slot="top"></ion-icon>
      <ion-text slot="bottom">מחיקת טיוטה</ion-text>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
