<div id="container">

  <div id="left"></div>

  <ion-row id="inner">

<!--    <ion-col size="2">-->
<!--      <span class="title">קישורים</span>-->
<!--      <a (click)="goHome()">עמוד הבית</a>-->
<!--      <a>יצירת קשר</a>-->
<!--      <a>אודות המערכת</a>-->
<!--      <a>כניסת ספקים</a>-->
<!--      <a>כניסת משתמשים</a>-->
<!--    </ion-col>-->

<!--    <ion-col size="2">-->
<!--      <span class="title">פעולות</span>-->
<!--      <a>כניסת ספק</a>-->
<!--      <a>כניסת משתמש</a>-->
<!--      <a (click)="register()">הרשמה</a>-->
<!--    </ion-col>-->

    <ion-col>
      <span class="title">פרטי החברה</span>
      <span>חברת פיקסלנט בע"מ</span>
      <span>הלפיד 19 פתח תקוה 4925822</span>
      <span>03-9295353</span>
      <a href="mailto:support@sacle-sence.com">support@scale-sense.com</a>
    </ion-col>

    <ion-col size="3">
      <ion-button shape="round" expand="fill" strong="true" (click)="login()">
          <ion-text>כניסה</ion-text>
          <ion-text class="ion-hide-sm-down">&nbsp;למערכת</ion-text>
      </ion-button>
      <ion-button shape="round" expand="fill" strong="true" (click)="register()">הרשמה</ion-button>
    </ion-col>

  </ion-row>

</div>
