<ion-header>
  <app-header pageTitle="הרשאות גישה"></app-header>
</ion-header>

<ion-content #content>

  <div class="page-container">

    <div id="new-user-section">

      <ion-button color="secondary" size="large" strong="true" shape="round"
                  class="ion-margin"
                  [disabled]="hasChanges"
                  (click)="extOpen == 'newUser' ? extOpen = null : extOpen = 'newUser'; selectedPermission = null">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-text>הקמת משתמש חדש</ion-text>
      </ion-button>

      <app-new-user [show]="extOpen == 'newUser'" (userCreated)="extOpen = selectedPermission = null"></app-new-user>

    </div>

    <div class="section">

      <h3 class="ion-margin-bottom">רשימת משתמשים:</h3>

      <app-users-list [selectedUser]="selectedUser?.uid"
                      [disabled]="hasChanges"
                      (onEditPermissions)="editPermissions($event)"
      ></app-users-list>

      <h3>רשימת דרגים:</h3>

      <div id="edit-roles">
        <ion-grid class="app-table">
          <h3>
            <ion-text color="primary">שם דרג</ion-text>
          </h3>
          <ion-row *ngFor="let role of roles" class="not-header">
            <ion-col>{{role | roleName}}</ion-col>
            <ion-col>
              <ion-button shape="round"
                          [fill]="selectedRole == role ? 'solid' : 'outline'"
                          [color]="selectedRole == role ? 'secondary' : 'dark'"
                          [disabled]="hasChanges || role == UserRole.ADMIN"
                          (click)="editPermissions(role)">
                <ion-icon slot="start" src="../../assets/svg/icon_pen.svg"></ion-icon>
                <ion-text>עריכת דרג</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

  </div>

  <div class="page-container section" style="margin-bottom: 1em" *ngIf="selectedPermission" id="scrollHere">

    <ion-item>

      <ion-label style="white-space: normal">
        <h1>
          <ion-text>{{selectedUser.uid ? 'הרשאות למשתמש: ' : 'הרשאות כלליות לדרג: '}}</ion-text>
          <ion-text>{{selectedUser.uid ? selectedUser.displayName : (selectedRole | roleName)}}</ion-text>
        </h1>
      </ion-label>

      <ion-button shape="round" color="dark" fill="outline" size="small" slot="end"
                  class="ion-hide-sm-down"
                  *ngIf="selectedPermission && !selectedUser.uid"
                  (click)="restore()">
        <ion-icon slot="start" name="alert-circle-outline" color="danger"></ion-icon>
        <ion-text>שחזור הגדרות מערכת</ion-text>
      </ion-button>

      <ion-button shape="round" fill="clear" slot="end"
                  class="ion-hide-sm-up"
                  *ngIf="selectedPermission && !selectedUser.uid"
                  (click)="restore()">
        <ion-icon slot="icon-only" name="alert-circle-outline" color="danger"></ion-icon>
      </ion-button>

    </ion-item>

    <app-permissions-list (onChange)="hasChanges = $event"
                          (onCancel)="selectedPermission = null"
                          [userOrRole]="selectedPermission"
    ></app-permissions-list>

  </div>

</ion-content>
