<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <input #inputEl
         [placeholder]="placeholder || ''"
         matInput
         [(ngModel)]="query"
         (keyup)="onQueryChange.emit(query)"
         [matAutocomplete]="auto"
         [required]="required"
         [name]="name"
         (blur)="onClosed()"
  >
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelect.emit($event.option.id)">
    <mat-option *ngFor="let option of filteredList" [value]="option[displayProp]" [id]="option[valueProp]">{{option[displayProp]}}</mat-option>
  </mat-autocomplete>
  <mat-error>שדה חובה</mat-error>
</mat-form-field>
