<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img src="../../assets/defaults/default_logo.png">
  </ion-thumbnail>
  <div class="inner-item" [ngClass]="rowLength ? ('plus' + rowLength) : ''">
    <h6>עגבניות שרי</h6>
    <h6>5.90 ש"ח</h6>
    <h6>2.5 ק"ג</h6>
    <h6>8.85 ש"ח</h6>
    <div *ngIf="isEdit">
      <ion-button class="small-circle-btn" fill="clear">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon slot="icon-only"src="../../assets/svg/icon_pen.svg"></ion-icon>
      </ion-button>
    </div>
    <ion-input *ngIf="withComments" placeholder="הערות בנוגע למוצר"></ion-input>
  </div>
</ion-item>
