<ion-item *ngIf="!productDetails">
  <ion-thumbnail slot="start">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-thumbnail>
  <h6>
    <ion-skeleton-text style="width: 80%"></ion-skeleton-text>
  </h6>
</ion-item>

<ion-item lines="none" *ngIf="productDetails">
  <ion-thumbnail slot="start">
    <img [src]="productDetails.image || '../../assets/defaults/default_logo.png'">
  </ion-thumbnail>
  <ion-row class="inner-item">
    <ion-col size="3">
      <h6>{{productDetails.name}}</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.pricePerUnit || productDetails.price | number : '1.2-2'}} ש"ח</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.amount | number : '1.0-3'}} ק"ג</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.amount * (productOrder.pricePerUnit || productDetails.price) | number : '1.2-2'}} ש"ח</h6>
    </ion-col>
    <ion-col [size]="withComments ? 1 : 2" *ngIf="isEdit">
      <div>
        <ion-button class="small-circle-btn" fill="clear" (click)="clearClicked.emit()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="editClicked.emit()">
          <ion-icon slot="icon-only"src="../../assets/svg/icon_pen.svg"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="withComments">
      <ion-input placeholder="הערות בנוגע למוצר" [(ngModel)]="productOrder.comment"></ion-input>
    </ion-col>
  </ion-row>
</ion-item>
