<ion-item *ngIf="!productDetails">
  <ion-thumbnail slot="start">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-thumbnail>
  <h6 style="width: 100%">
    <ion-skeleton-text [ngStyle]="{width: randomSkeletonWidth}"></ion-skeleton-text>
  </h6>
</ion-item>

<ion-item lines="none" *ngIf="productDetails">
  <ion-thumbnail slot="start">
    <img [src]="productDetails.image || '../../assets/defaults/default_logo.png'">
  </ion-thumbnail>
  <ion-row class="inner-item">
    <ion-col size="3">
      <h6>{{productDetails.name}}</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.pricePerUnit || productDetails.price | price}}</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.amount | unitAmount : productDetails.type}}</h6>
    </ion-col>
    <ion-col>
      <h6>{{productOrder.amount * (productOrder.pricePerUnit || productDetails.price) | price}}</h6>
    </ion-col>
    <ion-col [size]="showComment ? 1 : 2" *ngIf="editProduct">
      <div>
        <ion-button class="small-circle-btn" fill="clear" (click)="clearClicked.emit()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="editClicked.emit()">
          <ion-icon slot="icon-only"src="../../assets/svg/icon_pen.svg"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col size="4" *ngIf="showComment">
      <ion-input [placeholder]="editComment ? 'הערות בנוגע למוצר' : 'הערות לקוח'" [(ngModel)]="productOrder.comment" [readonly]="!editComment"></ion-input>
    </ion-col>
  </ion-row>
</ion-item>
