ion-item {
  --padding-end: 0.5em;
  --padding-start: 0.5em;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  ion-thumbnail {
    height: 2.5em;
    width: 2.5em;
  }
  .inner-item {
    width: 100%;
    & > * {
      display: flex;
      align-items: center;
    }
  }
  ion-col {
    padding: 0;
  }
  h6 {
    font-size: 0.9em;
  }
  ion-col:first-child > h6 {
    color: var(--ion-color-primary);
    font-weight: bold;
  }
  ion-col:nth-child(4) > h6 {
    font-weight: bold;
  }
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
    margin: 0 0.25em;
    --color: black;
  }
  ion-input {
    height: 2em;
    margin: 0.5em 2em;
    --padding-start: 1em;
    border: solid var(--ion-color-medium) 1px;
    border-radius: 1em;
  }
}
