<ion-row id="container">

  <ion-col size="6" sizeLg="3">
    <ion-img src="../../assets/logo_small.png" style="height: 3em; cursor: pointer" (click)="backToMain()"></ion-img>
    <div id="business-logo">
      <div>
        <ion-img [src]="logo"></ion-img>
      </div>
    </div>
  </ion-col>

  <ion-col id="main" class="ion-hide-lg-down">
    <ion-button fill="clear">
      <ion-icon slot="start" src="../../assets/svg/icon_reports.svg"></ion-icon>
      <ion-text>דוחות</ion-text>
    </ion-button>
    <ion-button fill="clear" (click)="goToSettings()">
      <ion-icon slot="start" src="../../assets/svg/icon_settings.svg"></ion-icon>
      <ion-text>הגדרות</ion-text>
    </ion-button>
    <ion-button fill="clear" *ngIf="side == 'c'">
      <ion-icon slot="start" src="../../assets/svg/icon_stock.svg"></ion-icon>
      <ion-text>ניהול מלאי</ion-text>
    </ion-button>
    <ion-button fill="clear" *ngIf="side == 'c'">
      <ion-icon slot="start" src="../../assets/svg/icon_office.svg"></ion-icon>
      <ion-text>משרד ראשי</ion-text>
    </ion-button>
    <ion-button fill="clear" (click)="goToDrafts()" *ngIf="side == 'c'">
      <ion-icon slot="start" src="../../assets/svg/icon_drafts.svg"></ion-icon>
      <ion-text>טיוטות</ion-text>
    </ion-button>
  </ion-col>

  <ion-col size="4" sizeLg="2" id="buttons">
    <ion-fab-button size="small">
      <ion-icon src="../../assets/svg/icon_info.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small">
      <ion-icon src="../../assets/svg/icon_man.svg"></ion-icon>
    </ion-fab-button>
  </ion-col>

  <ion-button id="back-btn" color="secondary" fill="clear" strong="true" (click)="back()" *ngIf="pageTitle">חזרה אחורה</ion-button>

</ion-row>

<div id="sub-header" *ngIf="pageTitle">
  <h1>{{pageTitle}}<i id="comment" *ngIf="comment"> - <ion-text color="danger">{{comment}}</ion-text></i></h1>
</div>
