<ion-header>
  <app-header pageTitle="מוצרים"></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="upper-section">

      <ion-searchbar placeholder="הקלד שם מוצר" [(ngModel)]="q" (ionChange)="search()">
        <ion-icon src="../../assets/svg/search.svg"></ion-icon>
      </ion-searchbar>

      <div class="ion-hide-md-down">
        <ion-button shape="round" color="secondary" strong="true" (click)="navService.goToEditProduct('new')">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-text>הוספת מוצר</ion-text>
        </ion-button>
        <ion-button shape="round" color="dark" strong="true" class="ion-text-capitalize" (click)="excel.click()">טעינת קובץ Excel</ion-button>
        <input class="ion-hide" type="file" accept=".xlsx, .xls, .csv" capture="filesystem" #excel (change)="importFromExcel($event); excel.value = null">
      </div>

      <div class="ion-hide-md-up">
        <ion-button shape="round" fill="outline" color="secondary" (click)="navService.goToEditProduct('new')">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button fill="outline" shape="round" color="success" (click)="excel.click()">
          <ion-icon slot="icon-only" src="../../assets/svg/excel.svg"></ion-icon>
        </ion-button>
      </div>

    </div>

    <div id="table-section">

      <div id="product-filtering">

        <app-autocomplete-field
                [list]="businessList"
                displayProp="name"
                valueProp="id"
                [label]="businessService.side == 'c' ? 'סינון לפי ספק' : 'סינון לפי לקוח'"
                name="supplier"
                (onSelect)="bid = $event; search()"
        ></app-autocomplete-field>

        <ion-item lines="none" *ngIf="businessService.side == 'c'">
          <ion-checkbox slot="start" [(ngModel)]="showAllProducts" (ionChange)="search()"></ion-checkbox>
          <ion-label>צפייה בכל המוצרים</ion-label>
        </ion-item>

      </div>

      <ion-grid class="app-table">

        <div style="display: flex" *ngIf="isSearching">
          <ion-spinner style="margin: auto" color="primary"></ion-spinner>
        </div>

        <div *ngIf="!isSearching && !results.length">
          <h4 class="ion-text-center">
            <ion-text color="medium">- לא קיימים מוצרים -</ion-text>
          </h4>
        </div>

        <ion-row *ngIf="results.length">
          <ion-col size="1" sizeMd="0.5" *ngIf="!showAllProducts"></ion-col>
          <ion-col size="1" sizeMd="0.5" *ngIf="showAllProducts"></ion-col>
          <ion-col size="1.5"></ion-col>
          <ion-col sizeMd="3">שם המוצר</ion-col>
          <ion-col class="ion-hide-md-down">מק"ט</ion-col>
          <ion-col>מחיר</ion-col>
          <ion-col class="ion-hide-lg-down"></ion-col>
          <ion-col class="ion-hide-lg-down"></ion-col>
          <ion-col class="ion-hide-lg-up" size="1"></ion-col>
        </ion-row>

        <ion-row *ngFor="let product of results; let idx = index">
          <ion-col size="1" sizeMd="0.5" *ngIf="!showAllProducts">
            <ion-icon name="warning" color="warning"
                      *ngIf="!hasAllRequired(product)"
                      matTooltip="חסרים פרטי מוצר"
            ></ion-icon>
            <ion-icon name="alert-circle" color="danger"
                      *ngIf="!priceInLimits(product)"
                      matTooltip="מחיר מחוץ לטווח"
            ></ion-icon>
          </ion-col>
          <ion-col size="1" sizeMd="0.5" *ngIf="showAllProducts">
            <ion-checkbox [checked]="customerHasProduct(product)" (ionChange)="onCheckProduct(product, $event)"></ion-checkbox>
          </ion-col>
          <ion-col size="1.5">
            <ion-thumbnail>
              <img [src]="product.image">
            </ion-thumbnail>
          </ion-col>
          <ion-col sizeMd="3"><b><ion-text color="primary">{{product.name}}</ion-text></b></ion-col>
          <ion-col class="ion-hide-md-down">{{product.catalogNumS}}</ion-col>
          <ion-col>{{product.price | price}} / {{null | unitAmount : product.type}}</ion-col>
          <ion-col class="ion-hide-lg-down">
            <ion-button fill="clear" color="dark" shape="round" *ngIf="!showAllProducts" (click)="navService.goToEditProduct(product.id)">
              <ion-icon slot="icon-only" src="../../assets/svg/icon_pen.svg"></ion-icon>
            </ion-button>
            <ion-button class="small-circle-btn" color="secondary" fill="clear" (click)="deleteProduct(product)" *ngIf="!showAllProducts">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="ion-hide-lg-down">
            <ion-button fill="outline" color="dark" shape="round"
                        *ngIf="businessService.side == 's'"
                        (click)="customerPricing(product)"
                        [disabled]="!canOfferPrice"
            >תמחור לקוחות</ion-button>
          </ion-col>
          <ion-col class="ion-hide-lg-up" size="1" *ngIf="!showAllProducts">
            <ion-button fill="clear" (click)="openPopoverMenu(product)" id="more-btn">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>

    <app-pagination
            [numOfItems]="results.length"
            [totalNumOfItems]="!showAllProducts ? (filteredList || productsService.myProducts).length : null"
            [page]="page"
            (onForward)="search(1)"
            (onBack)="search(-1)"
    ></app-pagination>

  </div>

</ion-content>
