<ion-header>
  <app-header pageTitle="מוצרים"></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="upper-section">

      <ion-searchbar placeholder="הקלד שם מוצר" [(ngModel)]="q" (ionChange)="search()">
        <ion-icon src="../../assets/svg/search.svg"></ion-icon>
      </ion-searchbar>

      <div>
        <ion-button shape="round" color="secondary" strong="true" (click)="navService.goToEditProduct('new')">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-text>הוספת מוצר</ion-text>
        </ion-button>
        <ion-button shape="round" color="dark" strong="true" class="ion-text-capitalize" (click)="excel.click()">טעינת קובץ Excel</ion-button>
        <input class="ion-hide" type="file" accept=".xlsx, .xls, .csv" #excel (change)="importFromExcel($event)">
      </div>

    </div>

    <div id="table-section">

      <div style="display: flex; justify-content: space-between">

        <app-autocomplete-field
                [list]="businessList"
                displayProp="name"
                valueProp="id"
                [label]="businessService.side == 'c' ? 'סינון לפי ספק' : 'סינון לפי לקוח'"
                name="supplier"
                (onSelect)="bid = $event; search()"
        ></app-autocomplete-field>

        <ion-item lines="none" *ngIf="businessService.side == 'c'">
          <ion-checkbox slot="start" [(ngModel)]="favoriteOnly" (ionChange)="search()"></ion-checkbox>
          <ion-label>מוצרים מועדפים בלבד</ion-label>
        </ion-item>

      </div>

      <ion-grid class="app-table">

        <div style="display: flex" *ngIf="isSearching">
          <ion-spinner style="margin: auto" color="primary"></ion-spinner>
        </div>

        <div *ngIf="!isSearching && !productsList.length">
          <h4 class="ion-text-center">
            <ion-text color="medium">- לא קיימים מוצרים -</ion-text>
          </h4>
        </div>

        <ion-row *ngIf="productsList.length">
          <ion-col size="0.5"></ion-col>
          <ion-col size="1.5"></ion-col>
          <ion-col size="3">שם המוצר</ion-col>
          <ion-col>מק"ט</ion-col>
          <ion-col>מחיר</ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row *ngFor="let product of productsList">
          <ion-col size="0.5">
            <ion-button class="small-circle-btn" color="secondary" fill="clear" (click)="deleteProduct(product)" *ngIf="businessService.side == 'c' && favoriteOnly">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1.5">
            <ion-thumbnail>
              <img [src]="product.image">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="3"><b><ion-text color="primary">{{product.name}}</ion-text></b></ion-col>
          <ion-col>{{product.catalogNumS}}</ion-col>
          <ion-col>{{product.price | price}} / {{null | unitAmount : product.type}}</ion-col>
          <ion-col>
            <ion-button fill="outline" color="dark" shape="round" (click)="navService.goToEditProduct(product.id)">עריכת מוצר</ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" color="dark" shape="round" *ngIf="businessService.side == 's'" (click)="customerPricing(product)">תמחור לקוחות</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>

    <app-pagination
            [numOfResults]="numOfNewResults"
            (onForward)="search(1)"
            (onBack)="search(-1)"
    ></app-pagination>

  </div>

</ion-content>
