<ion-header>
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content *ngIf="order">

  <div class="page-container">

    <div id="main-container">

      <div style="display: flex; justify-content: space-between">
        <div id="upper-part">
          <ion-item lines="none">
            <ion-label color="medium">חשבונית מספר: </ion-label>
            <ion-input type="number" [(ngModel)]="order.invoice"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label color="medium">שם הנהג: </ion-label>
            <ion-input [(ngModel)]="order.driverName"></ion-input>
          </ion-item>
        </div>

        <div id="alerts">
          <p *ngIf="!isFinal">* הזמנה טרם אושרה סופית ע"י הספק</p>
          <p *ngIf="!isSupplyDate">* מועד האספקה טרם הגיע</p>
        </div>
      </div>

      <ion-grid class="app-table">

        <ion-row>
          <ion-col size="0.5"></ion-col>
          <ion-col>שם המוצר</ion-col>
          <ion-col>כמות</ion-col>
          <ion-col>מחיר</ion-col>
          <ion-col>סה"כ</ion-col>
          <ion-col size="1">שקילה</ion-col>
          <ion-col>תוצאת שקילה</ion-col>
          <ion-col>פער בק"ג</ion-col>
<!--          <ion-col>פער במחיר</ion-col>-->
        </ion-row>

        <ion-row *ngFor="let product of order.products">
          <ion-col size="0.5">
            <ion-button fill="clear" color="dark" (click)="onEditClicked(product)" *ngIf="!editProduct">
              <ion-icon slot="icon-only" src="../../assets/svg/icon_pen.svg"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="editProduct = tempAmount = tempPrice = null" *ngIf="editProduct == product.id">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="success" (click)="onEditDone(product)" *ngIf="editProduct == product.id">
              <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>{{product.name}}</ion-col>
          <ion-col>
            <ion-text *ngIf="editProduct != product.id">{{product.amount | unitAmount : product.type}}</ion-text>
            <ion-input *ngIf="editProduct == product.id" type="number" [(ngModel)]="tempAmount" select-text (keyup.enter)="onEditDone(product)"></ion-input>
            <ion-text *ngIf="editProduct == product.id">{{null | unitAmount : product.type}}</ion-text>
          </ion-col>
          <ion-col>
            <ion-icon *ngIf="editProduct != product.id && isPriceExceeded(product)" name="alert-circle" color="danger" style="position: absolute; left: 0;" matTooltip="שים לב, חריגה במחיר"></ion-icon>
            <ion-text *ngIf="editProduct != product.id" [color]="isPriceExceeded(product) ? 'danger' : ''">{{product.priceInOrder | price}}</ion-text>
            <ion-input *ngIf="editProduct == product.id" type="number" [(ngModel)]="tempPrice" select-text (keyup.enter)="onEditDone(product)"></ion-input>
            <ion-text *ngIf="editProduct == product.id">{{null | price}}</ion-text>
          </ion-col>
          <ion-col style="font-weight: bold">{{(product.priceInOrder * product.amount) | price}}</ion-col>
          <ion-col size="1" style="justify-content: space-around">
            <ion-button fill="clear" color="secondary" (click)="weightIconClicked(product)" title="פתח אשף שקילה">
              <ion-icon slot="icon-only" src="../../assets/svg/icon_weight.svg"></ion-icon>
            </ion-button>
            <ion-button fill="clear" title="הזנה ידנית" (click)="openManualWeightPopover(product, $event)" *ngIf="hasNoWeightPermission">
              <ion-icon slot="icon-only" name="create-sharp"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="result-col">
            <ion-text></ion-text>
            <ion-text>{{product.finalWeight || product.finalWeight === 0 ? (product.finalWeight | unitAmount : 0) : 'טרם נשקל'}}</ion-text>
            <ion-icon *ngIf="product.finalWeight || product.finalWeight === 0" [name]="product.isWeightMatch ? 'checkmark-circle' : 'close-circle'" [color]="product.isWeightMatch ? 'success' : 'danger'" [title]="product.isWeightMatch ? 'תואם להזמנה' : 'לא תואם להזמנה'"></ion-icon>
          </ion-col>
          <ion-col>{{product.finalWeight ? (weightGap(product) | unitAmount : 0) : (product.finalWeight === 0 ? 'חוסר' : '-')}}</ion-col>
<!--          <ion-col>{{product.finalWeight ? (product.priceInOrder * (product.finalWeight - product.amount) | price) : '-'}}</ion-col>-->
        </ion-row>

      </ion-grid>

    </div>

    <div id="buttons-container">
      <ion-row>
        <ion-button shape="round" size="large" strong="true" [disabled]="!hasWeightAll()" (click)="finish()">סיום קליטה</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="secondary" shape="round" strong="true" [disabled]="hasWeightAll()" (click)="splitOrder()">לפיצול הזמנה</ion-button>
      </ion-row>
    </div>

  </div>

</ion-content>
