<ion-header>
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="search-section">

      <ion-searchbar placeholder="הקלד שם {{side == 'c' ? 'ספק' : 'לקוח'}} | מס. הזמנה | מס. חשבונית" [(ngModel)]="query" (ionChange)="searchOrders()" (ionFocus)="searchInput.focus()">
        <ion-icon src="../../assets/svg/search.svg"></ion-icon>
      </ion-searchbar>
<!--      <div style="width: 60%">-->
<!--        <input #searchInput matInput [matAutocomplete]="autocomplete" [(ngModel)]="query">-->
<!--        <ion-icon src="../../assets/svg/search.svg"></ion-icon>-->
<!--        <mat-autocomplete #autocomplete="matAutocomplete">-->
<!--          <mat-option *ngFor="let option of OrderStatusGroup" [value]="option[0]">{{option[0]}}</mat-option>-->
<!--        </mat-autocomplete>-->
<!--      </div>-->

      <p class="ion-text-center" *ngIf="pageMode != 'drafts'">
        <ion-text color="primary">איתור לפי תאריך אספקה:</ion-text>
      </p>
      <div id="dates" *ngIf="pageMode != 'drafts'">
        <p>בין התאריכים</p>
        <mat-form-field>
          <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" readonly (dateChange)="toDate ? searchOrders() : ''">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="ScreenMode == 's'" #fromPicker></mat-datepicker>
        </mat-form-field>
        <p>ל-</p>
        <mat-form-field>
          <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" [min]="fromDate" [disabled]="!fromDate" readonly (dateChange)="searchOrders()">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="ScreenMode == 's'" #toPicker [startAt]="fromDate"></mat-datepicker>
        </mat-form-field>
        <ion-button fill="clear" color="dark" (click)="fromDate = toDate = null; searchOrders()" *ngIf="fromDate">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-item lines="none" [disabled]="fromDate" *ngIf="pageMode != 'edit' && pageMode != 'goods_return'">
          <ion-checkbox slot="start" [(ngModel)]="showPast" (ionChange)="searchOrders()"></ion-checkbox>
          <ion-label>כולל הזמנות שמועד<br>אספקתן חלף</ion-label>
          <ion-button slot="end" class="ion-hide"></ion-button>
        </ion-item>
      </div>

      <div id="statuses" *ngIf="pageMode != 'drafts' && pageMode != 'edit'">
        <p class="ion-text-center ion-no-margin">
          <ion-text color="primary">איתור לפי סטטוס הזמנה:</ion-text>
        </p>
        <mat-select multiple [(ngModel)]="byStatusGroup" placeholder="סטטוס הזמנה" (selectionChange)="searchOrders()">
          <mat-option *ngFor="let group of OrderStatusGroup" [value]="group[0]">{{group[0] | orderStatusText : true}}</mat-option>
        </mat-select>
      </div>

    </div>

    <div class="table-section">

      <ion-grid class="app-table">

        <div style="display: flex" *ngIf="isSearching">
          <ion-spinner style="margin: auto" color="primary"></ion-spinner>
        </div>

        <div *ngIf="!isSearching && !orders.length">
          <h4 class="ion-text-center">
            <ion-text color="medium">- לא נמצאו מסמכים -</ion-text>
          </h4>
        </div>

        <ion-row *ngIf="orders.length">
          <ion-col>{{pageMode == 'drafts' ? 'תאריך ביצוע' : 'תאריך אספקה'}}</ion-col>
          <ion-col>מס. הזמנה</ion-col>
          <ion-col>{{side == 'c' ? 'ספק' : 'לקוח'}}</ion-col>
          <ion-col *ngIf="pageMode != 'drafts'">סטטוס</ion-col>
          <ion-col></ion-col>
          <ion-col *ngIf="pageMode == 'drafts'"></ion-col>
        </ion-row>

        <ion-row *ngFor="let order of orders">
          <ion-col><ion-text dir="ltr">{{(pageMode == 'drafts' ? (order.modified || order.created) : order.supplyTime) | date : 'dd/MM/yyyy HH:mm'}}</ion-text></ion-col>
          <ion-col>{{order.serial}}</ion-col>
          <ion-col>
            <ion-img [src]="getSupplier(order.sid).logo" class="ion-margin-end" *ngIf="side == 'c'"></ion-img>
            <ion-text *ngIf="side == 'c'">{{getSupplier(order.sid).name}}</ion-text>
            <ion-text *ngIf="side == 's'">{{getCustomer(order.cid).name}}</ion-text>
          </ion-col>
          <ion-col *ngIf="pageMode != 'drafts'"><ion-text [color]="order.status >= OrderStatus.FINAL_APPROVE ? 'danger' : ''">{{order.status | orderStatusText}}</ion-text></ion-col>
          <ion-col>
            <ion-button color="dark" fill="outline" shape="round" (click)="actionClicked(order)" [disabled]="actionDisabled(order)">{{actionBtnTitle}}</ion-button>
          </ion-col>
          <ion-col *ngIf="pageMode == 'drafts'">
            <ion-button color="dark" fill="outline" shape="round" (click)="deleteDraft(order.id)">מחיקה</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>

    <app-pagination
            [numOfResults]="numOfNewResults"
            (onForward)="searchOrders(1)"
            (onBack)="searchOrders(-1)"
    ></app-pagination>

    <ion-spinner *ngIf="orderReturn && !orderProducts.length" color="primary" style="margin: auto"></ion-spinner>

    <div class="table-section" *ngIf="orderReturn && orderProducts.length">
      <h2 style="font-weight: bold">הזמנה מס. {{orderReturn.serial}}</h2>
      <ion-list id="return-list">
        <app-product-summery *ngFor="let product of orderReturn.products"
                             [productOrder]="product"
                             [productDetails]="getProductToReturn(product.id)"
                             extraBtnText="החזרת מוצר"
                             (extraBtnClicked)="onProductReturn($event)"
        ></app-product-summery>
        <app-products-total-price [price]="orderReturn.orderTotalPrice()" [colSize]="9/4" [colPush]="3+9/4"></app-products-total-price>
      </ion-list>
      <h5 style="font-weight: bold; text-align: center">
        <ion-text>ההזמנה סופקה בתאריך: </ion-text>
        <ion-text color="primary">{{orderReturn.supplyTime | date : 'dd/MM/yyyy HH:mm'}}</ion-text>
      </h5>
    </div>

    <ion-row>
      <ion-button shape="round" strong="true" (click)="goBack()" id="back-btn">חזרה למסך הראשי</ion-button>
    </ion-row>

  </div>

</ion-content>
