#search-section {
  background-color: white;
  padding: 2em;
  margin: 1em 0 0.2em;
  #dates {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-form-field {
      width: 10em;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  #statuses {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-select {
      width: 12em;
    }
    & > * {
      margin: 0 1em;
    }
  }

  ion-searchbar {
    margin: auto;
  }
}

#search-inputs {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 20%;
  }
}


.table-section {
  background-color: white;
  padding: 2em;
}


#back-btn {
  margin: 1em auto;
}

#pages-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  ion-button {
    --ripple-color: transparent;
    --background-hover: transparent;
    --color-hover: rgba(var(--ion-color-primary-rgb),0.5);
    --color-activated: rgba(var(--ion-color-primary-rgb),0.5);
  }
}

#return-list {
  max-width: 800px;
  margin: auto;
}
