<div id="container" *ngIf="show">

  <div id="grid">

    <div>
      <ion-label>* אימייל</ion-label>
      <mat-form-field aria-label="email">
        <input matInput [formControl]="email" name="email">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">כתובת אימייל אינה חוקית</mat-error>
        <mat-error *ngIf="email.hasError('required')">שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div>
      <ion-label>* שם מלא</ion-label>
      <mat-form-field aria-label="fullName">
        <input matInput [formControl]="fullName" name="name">
        <mat-error *ngIf="fullName.hasError('required')">שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div>
      <ion-label>* דרג</ion-label>
      <mat-form-field aria-label="role">
        <mat-select [formControl]="role">
          <mat-option *ngFor="let role of roles" [value]="role" [disabled]="role == UserRole.ADMIN">{{role | roleName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="role.hasError('required')">שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div>
      <ion-label>* סיסמה</ion-label>
      <mat-form-field aria-label="password">
        <input matInput [formControl]="password" name="password">
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">יש להזין לפחות 6 תוים</mat-error>
        <mat-error *ngIf="password.hasError('required')">שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div>
      <ion-label>* אימות סיסמה</ion-label>
      <mat-form-field aria-label="passwordV">
        <input matInput [formControl]="passwordV" name="password2">
        <mat-error *ngIf="passwordV.hasError('notSimilar') && !passwordV.hasError('required')">אימות סיסמה לא זהה</mat-error>
        <mat-error *ngIf="passwordV.hasError('required')">שדה חובה</mat-error>
      </mat-form-field>
    </div>

  </div>

  <div id="button">
    <ion-button shape="round" color="dark" class="ion-float-end" (click)="createUser()" [disabled]="!allValid()">{{editUser ? 'שמירת פרטי משתמש' : 'יצירת משתמש'}}</ion-button>
  </div>


</div>
