.page-container {
  margin: 3em auto;
}

#container {
  background-color: white;
  padding: 1em;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  ion-item {
    --padding-end: 3em;
    --padding-start: 0;
    ion-button {
      margin: 0;
    }
  }
}

ion-checkbox {
  --background: transparent;
  --background-checked: transparent;
  --checkmark-color: var(--ion-color-dark);
  --checkmark-width: 4px;
  --border-radius: 3px;
}
