ion-item{
  --padding-end: 0.5em;
  --padding-start: 0.5em;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
ion-thumbnail {
  height: 2.5em;
  width: 2.5em;
}
ion-row {
  width: 100%;
  margin-top: 0.25em;
  ion-col {
    padding: 0;
    border-top: solid var(--ion-color-primary) 1px;
  }
  h6:first-child {
    color: black;
    font-weight: normal;
  }
  h6:last-child {
    font-weight: bold;
  }
  p {
    font-size: 0.8em;
  }
}
