<ion-header>
  <app-header [pageTitle]="pageTitle" *ngIf="order"></app-header>
  <app-reservation-wizard [step]="wizardStep" (goToStep)="wizardStep = $event" *ngIf="wizardStep"></app-reservation-wizard>
</ion-header>

<ion-content *ngIf="order">

  <div class="page-container" *ngIf="wizardStep == 1">

    <ion-searchbar placeholder="הקלד שם ספק | פריט | קטגוריה" (ionChange)="searchSupplier($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <div class="select-container">
      <ion-text *ngIf="!selectedSupplier">רשימת ספקים</ion-text>
      <select [(ngModel)]="selectedSupplier">
        <option></option>
        <option *ngFor="let supplier of suppliersService.mySuppliers" [value]="supplier.id">{{supplier.name}}</option>
      </select>
    </div>

    <div class="suppliers-header" *ngIf="suppliersSearchResults.length">תוצאות החיפוש</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of suppliersSearchResults" (click)="selectedSupplier = supplierId" [ngClass]="selectedSupplier == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="commonSuppliers.length">חיפושים שכיחים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of commonSuppliers" (click)="selectedSupplier = supplierId" [ngClass]="selectedSupplier == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="allSuppliers.length">כל הספקים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of allSuppliers" (click)="selectedSupplier = supplierId" [ngClass]="selectedSupplier == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <ion-row *ngIf="!showAllSuppliers">
      <ion-button fill="outline" color="dark" shape="round" (click)="loadAllSuppliers()" id="show-all-btn">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-text>כל הספקים</ion-text>
      </ion-button>
    </ion-row>

    <ion-button size="large" [color]="selectedSupplier ? 'primary' : 'medium'" shape="round" class="ion-float-end" id="continue-btn" [disabled]="!selectedSupplier" (click)="chooseSupplier()">המשך הזמנה</ion-button>

  </div>


  <div class="page-container" *ngIf="wizardStep == 2 || (isEdit && addProductsScreen)">

    <ion-searchbar placeholder="הקלד שם פריט | קטגוריה" (ionChange)="searchProduct($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <ion-row style="margin-top: 2em">

      <ion-col>
        <ion-list id="products-list">

          <ion-list-header>
            <ion-title color="secondary">{{getSelectedSupplier().name}}</ion-title>
          </ion-list-header>

          <app-product-to-cart *ngFor="let product of (filteredSupplierProducts || supplierProducts)"
                               [product]="product"
                               [amount]="order.getProductById(product.id) ? order.getProductById(product.id).amount : 0"
                               (addToCart)="order.setProductAmount(product.id, $event, product.pricePerUnit)"
          ></app-product-to-cart>

        </ion-list>
      </ion-col>

      <ion-col>
        <div id="summery">

          <ion-list id="summery-list">
            <ion-list-header class="ion-padding-horizontal">
              <ion-title>
                <ion-text>פרטי הזמנה</ion-text>
                <ion-text class="ion-float-end">{{order.id}}</ion-text>
              </ion-title>
            </ion-list-header>

            <div *ngIf="order.products.length">
              <app-product-summery *ngFor="let product of order.products"
                                   [productOrder]="product"
                                   [productDetails]="findProductDetails(product.id)"
                                   [isEdit]="true"
                                   (clearClicked)="order.setProductAmount(product.id, 0, null)"
                                   (editClicked)="editProduct()"
              ></app-product-summery>

              <app-products-total-price [price]="order.orderTotalPrice()" [pricePlusVat]="order.orderTotalPrice()*1.17"></app-products-total-price>
            </div>


          </ion-list>

          <p id="no-products" *ngIf="!order.products.length">לא קיימים פריטים בהזמנה</p>
          <br><br>
          <p id="price-comment" *ngIf="order.products.length">המחיר אינו סופי ועלול להשתנות בהתאם להסכם עם הספק</p>

          <ion-row class="ion-padding ion-justify-content-between">
            <ion-button shape="round" (click)="goToSummery()" [disabled]="!order.products.length" [color]="order.products.length ? 'primary' : 'dark'" style="margin: auto">
              <ion-icon slot="start" src="../../assets/svg/icon_thumb.svg"></ion-icon>
              <ion-text>אישור הזמנה והמשך בתהליך</ion-text>
            </ion-button>
            <ion-button *ngIf="order.products.length" shape="round" (click)="saveOrder()">שמירת טיוטה</ion-button>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

  </div>


  <div class="page-container" *ngIf="wizardStep == 3 || (!isNewOrder && !addProductsScreen)">

    <h1 class="ion-text-center" style="margin: 1em 0">
      <ion-text>פרטי הזמנה</ion-text>
      <ion-text *ngIf="wizardStep == 3"> מס. {{order.id}}</ion-text>
    </h1>

    <div *ngIf="!orderSent">
      <ion-list id="order-list">
        <app-product-summery
                *ngFor="let product of order.products"
                [productOrder]="product"
                [productDetails]="findProductDetails(product.id)"
                [isEdit]="true"
                [withComments]="true"
                (clearClicked)="order.setProductAmount(product.id, 0, null); !order.products.length ? goToAddProducts() : ''"
                (editClicked)="editProduct()"
        ></app-product-summery>

        <ion-item lines="none" *ngIf="order.products.length">
          <ion-row style="width: 100%">
            <ion-col size="5.5" push="2.5">
              <app-products-total-price [price]="order.orderTotalPrice()" [pricePlusVat]="order.orderTotalPrice()*1.17"></app-products-total-price>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>

      <div id="bottom-section">
        <div id="dates">
          <p>בחירת תאריך אספקה:</p>
<!--          <ion-input readonly [value]="supplyDate | date : 'dd/MM/yy' || 'תאריך'" ><ion-icon name="caret-down"></ion-icon></ion-input>-->
<!--          <ion-input readonly value="שעה" (ionFocus)="timeFocus = true" *ngIf="!timeFocus && !supplyTime"><ion-icon name="caret-down"></ion-icon></ion-input>-->
          <ion-input placeholder="תאריך" [(ngModel)]="supplyDate" (ionFocus)="dateFocus = true" (ionBlur)="dateFocus = false" [type]="dateFocus || supplyDate ? 'date' : 'text'"></ion-input>
          <ion-input placeholder="שעה" [(ngModel)]="supplyTime" (ionFocus)="timeFocus = true" (ionBlur)="timeFocus = false" [type]="timeFocus || supplyTime ? 'time' : 'text'"></ion-input>
        </div>
        <ion-textarea [rows]="order.comment ? 2 : 1" placeholder="הערות כלליות לספק:" [(ngModel)]="order.comment" [ngStyle]="{fontSize : !order.comment ? '2em' : '1em'}"></ion-textarea>
      </div>

      <div id="bottom-buttons">
        <ion-row>
          <ion-button shape="round" color="dark" *ngIf="isNewOrder || isEdit" (click)="goToAddProducts()">הוספת פריטים להזמנה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="isNewOrder" (click)="saveOrder()">שמירה כטיוטה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="isEdit" (click)="cancelOrder()">ביטול הזמנה</ion-button>
        </ion-row>
        <ion-row>
          <ion-button shape="round" strong="true" *ngIf="isNewOrder || isEdit" (click)="sendOrder()">
            <ion-icon src="../../assets/svg/icon_thumb.svg" slot="start"></ion-icon>
            <ion-text *ngIf="!isNewOrder">שמירת שינויים ו</ion-text>
            <ion-text>שליחת הזמנה לספק</ion-text>
          </ion-button>
          <ion-button shape="round" *ngIf="!isNewOrder && !isEdit" (click)="backToMain()">חזרה למסך הראשי</ion-button>
        </ion-row>
      </div>
    </div>

    <div *ngIf="orderSent" id="order-sent">

      <h1>ההזמנה התקבלה בהצלחה<br>ונשלחה לספק</h1>

      <ion-row>
        <ion-button shape="round" (click)="backToMain()">חזרה למסך הראשי</ion-button>
      </ion-row>

    </div>

  </div>

</ion-content>
