<ion-header>
  <app-header [pageTitle]="pageTitle" [comment]="pageTitleComment" *ngIf="order"></app-header>
  <app-reservation-wizard [step]="page" (goToStep)="page = $event" *ngIf="isDraft"></app-reservation-wizard>
</ion-header>

<ion-content *ngIf="order">

  <div class="page-container" *ngIf="page == 1">

    <ion-searchbar placeholder="הקלד שם ספק | פריט | קטגוריה" (ionChange)="searchSupplier($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <div style="width: 40%" class="select-box">
      <ion-select (ionChange)="selectOrderSupplier($event.detail.value)" interface="popover" placeholder="רשימת ספקים" mode="md" [interfaceOptions]="{cssClass: 'select-popover', animated: false, showBackdrop: false}" appSelectPopover>
        <ion-select-option *ngFor="let supplier of suppliersService.mySuppliers" [value]="supplier.id">{{supplier.name}}</ion-select-option>
      </ion-select>
    </div>

    <div class="suppliers-header" *ngIf="suppliersSearchResults.length">תוצאות החיפוש</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of suppliersSearchResults" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="commonSuppliers.length">חיפושים שכיחים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of commonSuppliers" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="allSuppliers.length">כל הספקים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of allSuppliers" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <ion-row *ngIf="!showAllSuppliers">
      <ion-button fill="outline" color="dark" shape="round" (click)="loadAllSuppliers()" id="show-all-btn">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-text>כל הספקים</ion-text>
      </ion-button>
    </ion-row>

  </div>


  <div class="page-container" *ngIf="page == 2">

    <ion-searchbar placeholder="הקלד שם פריט | קטגוריה" (ionChange)="searchProduct($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <ion-row style="margin-top: 2em">

      <ion-col>
        <ion-list id="products-list">

          <ion-list-header>
            <ion-title color="secondary">{{getSelectedSupplier().name}}</ion-title>
          </ion-list-header>

          <app-product-to-cart *ngFor="let product of (filteredSupplierProducts || supplierProducts)"
                               [product]="product"
                               [amount]="order.getProductById(product.id) ? order.getProductById(product.id).amount : 0"
                               (addToCart)="order.setProductAmount(product.id, $event, product.price)"
          ></app-product-to-cart>

        </ion-list>
      </ion-col>

      <ion-col>
        <div id="summery">

          <ion-list id="summery-list">
            <ion-list-header class="ion-padding-horizontal">
              <ion-title>
                <ion-text>פרטי הזמנה</ion-text>
                <ion-text class="ion-float-end" [title]="newSerialMsg">{{order.serial}}</ion-text>
              </ion-title>
            </ion-list-header>

            <div *ngIf="order.products.length">
              <app-product-summery *ngFor="let product of sortProductsByName(order.products)"
                                   [productOrder]="product"
                                   [productDetails]="findProductDetails(product.id)"
                                   [editProduct]="true"
                                   (clearClicked)="order.setProductAmount(product.id, 0, null)"
                                   (editClicked)="selectProductInput(product.id)"
              ></app-product-summery>

              <app-products-total-price [price]="order.orderTotalPrice()" [colSize]="3.5" [colPush]="2+7/3"></app-products-total-price>
            </div>


          </ion-list>

          <p id="no-products" *ngIf="!order.products.length">לא קיימים פריטים בהזמנה</p>
          <br><br>
          <p id="price-comment" *ngIf="order.products.length">המחיר אינו סופי ועלול להשתנות בהתאם להסכם עם הספק</p>

          <ion-row class="ion-padding ion-justify-content-between">
            <ion-button shape="round" (click)="page = 3" [disabled]="!order.products.length" [color]="order.products.length ? 'primary' : 'dark'" style="margin: auto">
              <ion-icon slot="start" src="../../assets/svg/icon_thumb.svg"></ion-icon>
              <ion-text>אישור הזמנה והמשך בתהליך</ion-text>
            </ion-button>
            <ion-button *ngIf="order.products.length && isDraft" shape="round" (click)="saveDraft()">שמירת טיוטה</ion-button>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

  </div>


  <div class="page-container" *ngIf="page == 3">

    <h1 class="ion-text-center" id="title-with-logo">
      <ion-text>פרטי הזמנה</ion-text>
      <ion-text *ngIf="page == 3" [title]="newSerialMsg"> מס. {{order.serial}}</ion-text>
      <ion-img [src]="getSelectedSupplier().logo" style="position: absolute"></ion-img>
    </h1>
    <h4 *ngIf="notification" class="ion-text-center" style="margin: 1em">{{notification}}</h4>

    <div *ngIf="!orderSent">
      <ion-list id="order-list">
        <app-product-summery
                *ngFor="let product of sortProductsByName(order.products)"
                [productOrder]="product"
                [productDetails]="findProductDetails(product.id)"
                [editProduct]="(customerEditMode || supplierEditMode)"
                [showComment]="true"
                [editComment]="customerEditMode"
                (clearClicked)="clearOrderFromList(product)"
                (editClicked)="editedProduct = product.id"
                (doneEdit)="editedProduct = null"
                [disabled]="editedProduct && editedProduct != product.id"
                [editBoxes]="supplierEditMode && isFinalApprove"
        ></app-product-summery>

        <app-products-total-price *ngIf="order.products.length" [price]="order.orderTotalPrice()" [colSize]="(customerEditMode || supplierEditMode ? 4 : 5)/3" [colPush]="3+(customerEditMode || supplierEditMode ? 4 : 5)/3"></app-products-total-price>

      </ion-list>

      <div id="bottom-section">

        <div *ngIf="customerEditMode || order.comment" style="margin-bottom: 1em">
          <p style="font-weight: normal; margin: 0 0.5em">הערות {{businessService.side == 'c' ? 'לספק' : 'מהלקוח'}}</p>
          <ion-textarea rows="2"
                        placeholder="כתוב כאן..."
                        [(ngModel)]="order.comment"
                        [readonly]="!customerEditMode"
                        [ngClass]="!customerEditMode ? 'readonly' : ''"
          ></ion-textarea>
        </div>

        <p class="ion-text-center" *ngIf="!customerEditMode && !supplierEditDate">
          <ion-text>ההזמנה תסופק בתאריך: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'dd/MM/yyyy'}}</ion-text>
          <ion-text> בשעה: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'HH:mm'}}</ion-text>
          <ion-button *ngIf="supplierEditMode" color="dark" fill="clear" size="small" (click)="supplierEditDate = true" title="שנה תאריך">
            <ion-icon slot="icon-only" src="../../assets/svg/icon_pen.svg"></ion-icon>
          </ion-button>
        </p>

        <div id="dates" *ngIf="customerEditMode || supplierEditDate">
          <p>בחירת תאריך אספקה:</p>
          <div class="date-picker">
            <ion-icon name="close" (click)="supplyDateInput = null; mergeDateAndTime()" [ngClass]="supplyDateInput ? '' : 'ion-hide'"></ion-icon>
            <input placeholder="תאריך" [min]="now" matInput [matDatepicker]="picker" [(ngModel)]="supplyDateInput" (dateChange)="mergeDateAndTime()" readonly (click)="picker.open()">
            <ion-icon name="caret-down" (click)="picker.open()"></ion-icon>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <ion-input placeholder="שעה" [(ngModel)]="supplyHourInput" (ionChange)="mergeDateAndTime()" (ionFocus)="timeFocus = true" (ionBlur)="timeFocus = false" [type]="timeFocus || supplyHourInput ? 'time' : 'text'">
            <ion-icon name="caret-down"></ion-icon>
          </ion-input>
        </div>

        <ion-item lines="none" *ngIf="supplierEditMode">
          <ion-checkbox slot="start" [value]="order.status >= OrderStatus.APPROVED" [(ngModel)]="isFinalApprove"></ion-checkbox>
          <ion-label>
            <h2>אישור סופי</h2>
            <h6>לקראת יציאה למשלוח. יש למלא כמות ארגזים לכל מוצר ומספר ת. משלוח</h6>
          </ion-label>
        </ion-item>

        <p *ngIf="(supplierEditMode && isFinalApprove) || order.status >= OrderStatus.FINAL_APPROVE">
          <ion-text>מספר תעודת משלוח: </ion-text>
          <mat-form-field>
            <input matInput type="number" [(ngModel)]="order.invoice" [readonly]="OrderStatus.FINAL_APPROVE">
          </mat-form-field>
          <ion-text>שם נהג: </ion-text>
          <mat-form-field>
            <input matInput [(ngModel)]="order.driverName" [readonly]="OrderStatus.FINAL_APPROVE">
          </mat-form-field>
        </p>

        <div *ngIf="supplierEditMode || order.supplierComment" style="margin-top: 1em">
          <p style="font-weight: normal; margin: 0 0.5em">הערות {{businessService.side == 'c' ? 'מהספק' : 'ללקוח'}}</p>
          <ion-textarea rows="2"
                        placeholder="כתוב כאן..."
                        [(ngModel)]="order.supplierComment"
                        [readonly]="!supplierEditMode"
                        [ngClass]="!supplierEditMode ? 'readonly' : ''"
          ></ion-textarea>
        </div>

      </div>

      <div id="history" *ngIf="!customerEditMode && order.changes.length">
        <h1>
          <ion-text color="primary" class="ion-padding">היסטוריית הזמנה</ion-text>
        </h1>

        <ol>
          <li *ngFor="let change of order.changes; let i = index">
            <app-order-change-report [change]="change"
                                     [previousChangeData]="i > 0 ? order.changes[i-1].data : null">
            </app-order-change-report>
          </li>
        </ol>

      </div>

      <div id="bottom-buttons">
        <ion-row>
          <ion-button shape="round" color="dark" *ngIf="customerEditMode" (click)="page = 2">הוספת פריטים להזמנה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="isDraft" (click)="saveDraft()">שמירה כטיוטה</ion-button>
<!--          <ion-button shape="round" color="dark" *ngIf="supplierEditMode" (click)="approveOrder()">אישור ראשוני</ion-button>-->
          <ion-button shape="round" color="dark" *ngIf="!isDraft && (customerEditMode || supplierEditMode)" (click)="cancelOrder()">ביטול הזמנה</ion-button>
        </ion-row>
        <ion-row>
          <ion-button shape="round" strong="true" *ngIf="customerEditMode || supplierEditMode" (click)="businessService.side == 'c' ? sendOrder() : approveOrder()">
            <ion-icon src="../../assets/svg/icon_thumb.svg" slot="start"></ion-icon>
            <ion-text *ngIf="(!isDraft && customerEditMode) || supplierEditMode">שמירת שינויים ו</ion-text>
            <ion-text *ngIf="customerEditMode">שליחת הזמנה לספק</ion-text>
            <ion-text *ngIf="supplierEditMode">{{isFinalApprove ? 'אישור סופי' : 'אישור ראשוני'}}</ion-text>
          </ion-button>
          <ion-button shape="round" *ngIf="!customerEditMode && !supplierEditMode" (click)="backToMain()">חזרה למסך הראשי</ion-button>
        </ion-row>
      </div>
    </div>

    <div *ngIf="orderSent" id="order-sent">

      <h1>ההזמנה התקבלה בהצלחה<br>ונשלחה לספק</h1>

      <ion-row>
        <ion-button shape="round" (click)="backToMain()">חזרה למסך הראשי</ion-button>
      </ion-row>

    </div>

  </div>

</ion-content>
