<ion-header>
  <app-header [pageTitle]="pageTitle" *ngIf="order"></app-header>
  <app-reservation-wizard [step]="page" (goToStep)="page = $event" *ngIf="isDraft"></app-reservation-wizard>
</ion-header>

<ion-content *ngIf="order">

  <div class="page-container" *ngIf="page == 1">

    <ion-searchbar placeholder="הקלד שם ספק | פריט | קטגוריה" (ionChange)="searchSupplier($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <div class="select-container">
      <ion-text *ngIf="!order.sid">רשימת ספקים</ion-text>
      <select [(ngModel)]="order.sid">
        <option></option>
        <option *ngFor="let supplier of suppliersService.mySuppliers" [value]="supplier.id">{{supplier.name}}</option>
      </select>
    </div>

    <div class="suppliers-header" *ngIf="suppliersSearchResults.length">תוצאות החיפוש</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of suppliersSearchResults" (click)="order.sid = supplierId" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="commonSuppliers.length">חיפושים שכיחים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of commonSuppliers" (click)="order.sid = supplierId" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="allSuppliers.length">כל הספקים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of allSuppliers" (click)="order.sid = supplierId" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <ion-row *ngIf="!showAllSuppliers">
      <ion-button fill="outline" color="dark" shape="round" (click)="loadAllSuppliers()" id="show-all-btn">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-text>כל הספקים</ion-text>
      </ion-button>
    </ion-row>

    <ion-button size="large" [color]="order.sid ? 'primary' : 'medium'" shape="round" class="ion-float-end" id="continue-btn" [disabled]="!order.sid" (click)="page = 2">המשך הזמנה</ion-button>

  </div>


  <div class="page-container" *ngIf="page == 2">

    <ion-searchbar placeholder="הקלד שם פריט | קטגוריה" (ionChange)="searchProduct($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <ion-row style="margin-top: 2em">

      <ion-col>
        <ion-list id="products-list">

          <ion-list-header>
            <ion-title color="secondary">{{getSelectedSupplier().name}}</ion-title>
          </ion-list-header>

          <app-product-to-cart *ngFor="let product of (filteredSupplierProducts || supplierProducts)"
                               [product]="product"
                               [amount]="order.getProductById(product.id) ? order.getProductById(product.id).amount : 0"
                               (addToCart)="order.setProductAmount(product.id, $event, product.price)"
          ></app-product-to-cart>

        </ion-list>
      </ion-col>

      <ion-col>
        <div id="summery">

          <ion-list id="summery-list">
            <ion-list-header class="ion-padding-horizontal">
              <ion-title>
                <ion-text>פרטי הזמנה</ion-text>
                <ion-text class="ion-float-end" [title]="newSerialMsg">{{order.serial}}</ion-text>
              </ion-title>
            </ion-list-header>

            <div *ngIf="order.products.length">
              <app-product-summery *ngFor="let product of order.products"
                                   [productOrder]="product"
                                   [productDetails]="findProductDetails(product.id)"
                                   [isEdit]="true"
                                   (clearClicked)="order.setProductAmount(product.id, 0, null)"
                                   (editClicked)="selectProductInput(product.id)"
              ></app-product-summery>

              <app-products-total-price [price]="order.orderTotalPrice()"></app-products-total-price>
            </div>


          </ion-list>

          <p id="no-products" *ngIf="!order.products.length">לא קיימים פריטים בהזמנה</p>
          <br><br>
          <p id="price-comment" *ngIf="order.products.length">המחיר אינו סופי ועלול להשתנות בהתאם להסכם עם הספק</p>

          <ion-row class="ion-padding ion-justify-content-between">
            <ion-button shape="round" (click)="page = 3" [disabled]="!order.products.length" [color]="order.products.length ? 'primary' : 'dark'" style="margin: auto">
              <ion-icon slot="start" src="../../assets/svg/icon_thumb.svg"></ion-icon>
              <ion-text>אישור הזמנה והמשך בתהליך</ion-text>
            </ion-button>
            <ion-button *ngIf="order.products.length && isDraft" shape="round" (click)="saveDraft()">שמירת טיוטה</ion-button>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

  </div>


  <div class="page-container" *ngIf="page == 3">

    <h1 class="ion-text-center" id="title-with-logo">
      <ion-text>פרטי הזמנה</ion-text>
      <ion-text *ngIf="page == 3" [title]="newSerialMsg"> מס. {{order.serial}}</ion-text>
      <ion-img [src]="getSelectedSupplier().logo" style="position: absolute"></ion-img>
    </h1>

    <div *ngIf="!orderSent">
      <ion-list id="order-list">
        <app-product-summery
                *ngFor="let product of order.products"
                [productOrder]="product"
                [productDetails]="findProductDetails(product.id)"
                [isEdit]="isEdit"
                [withComments]="true"
                (clearClicked)="order.setProductAmount(product.id, 0, null); !order.products.length ? page = 2 : ''"
                (editClicked)="selectProductInput(product.id)"
        ></app-product-summery>

        <ion-item lines="none" *ngIf="order.products.length">
          <ion-row style="width: 100%">
            <ion-col size="5.5" push="2.5">
              <app-products-total-price [price]="order.orderTotalPrice()"></app-products-total-price>
            </ion-col>
          </ion-row>
        </ion-item>

      </ion-list>

      <div id="bottom-section">
        <p class="ion-text-center" *ngIf="!isEdit">
          <ion-text>ההזמנה תסופק בתאריך: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'dd/MM/yyyy'}}</ion-text>
          <ion-text> בשעה: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'HH:mm'}}</ion-text>
        </p>
        <div id="dates" *ngIf="isEdit">
          <p>בחירת תאריך אספקה:</p>
          <div class="date-picker">
            <ion-icon name="close" (click)="supplyDateInput = null; mergeDateAndTime()" [ngClass]="supplyDateInput ? '' : 'ion-hide'"></ion-icon>
            <input placeholder="תאריך" [min]="now" matInput [matDatepicker]="picker" [(ngModel)]="supplyDateInput" (dateChange)="mergeDateAndTime()" readonly (click)="picker.open()">
            <ion-icon name="caret-down" (click)="picker.open()"></ion-icon>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <ion-input placeholder="שעה" [(ngModel)]="supplyHourInput" (ionChange)="mergeDateAndTime()" (ionFocus)="timeFocus = true" (ionBlur)="timeFocus = false" [type]="timeFocus || supplyHourInput ? 'time' : 'text'">
            <ion-icon name="caret-down"></ion-icon>
          </ion-input>
        </div>
        <ion-textarea [rows]="order.comment ? 2 : 1" placeholder="הערות כלליות לספק:" [(ngModel)]="order.comment" [ngStyle]="{fontSize : !order.comment ? '2em' : '1em'}" [disabled]="!isEdit"></ion-textarea>
      </div>

      <div id="history" *ngIf="!isEdit && order.changes.length">
        <h1>
          <ion-text color="primary" class="ion-padding">היסטוריית הזמנה</ion-text>
        </h1>

        <ol>
          <li *ngFor="let change of order.changes; let i = index">
            <app-order-change-report [change]="change"
                                     [previousChangeData]="i > 0 ? order.changes[i-1].data : null">
            </app-order-change-report>
          </li>
        </ol>

      </div>

      <div id="bottom-buttons">
        <ion-row>
          <ion-button shape="round" color="dark" *ngIf="isEdit" (click)="page = 2">הוספת פריטים להזמנה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="isDraft" (click)="saveDraft()">שמירה כטיוטה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="!isDraft && isEdit" (click)="cancelOrder()">ביטול הזמנה</ion-button>
        </ion-row>
        <ion-row>
          <ion-button shape="round" strong="true" *ngIf="isEdit" (click)="sendOrder()">
            <ion-icon src="../../assets/svg/icon_thumb.svg" slot="start"></ion-icon>
            <ion-text *ngIf="!isDraft">שמירת שינויים ו</ion-text>
            <ion-text>שליחת הזמנה לספק</ion-text>
          </ion-button>
          <ion-button shape="round" *ngIf="!isEdit" (click)="backToMain()">חזרה למסך הראשי</ion-button>
        </ion-row>
      </div>
    </div>

    <div *ngIf="orderSent" id="order-sent">

      <h1>ההזמנה התקבלה בהצלחה<br>ונשלחה לספק</h1>

      <ion-row>
        <ion-button shape="round" (click)="backToMain()">חזרה למסך הראשי</ion-button>
      </ion-row>

    </div>

  </div>

</ion-content>
