.page-container {
  padding-top: 3em;
}

.select-box {
  width: 40%;
  min-width: 200px;
}

.suppliers-header {
  width: 58em;
  margin: auto;
  border-bottom: solid white 1px;
  padding: 0.5em;
}

.suppliers-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  margin: auto;
  @media (max-width: 400px) {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}

.supplier-box {
  height: 10em;
  width: 10em;
  @media (max-width: 400px) {
    height: 8em;
    width: 8em;
  }
  margin: 1em;
  cursor: pointer;
  ion-img {
    padding: 0.5em;
    background-color: white;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  ion-text {
    color: var(--ion-color-medium);
    display: block;
    width: 100%;
    text-align: center;
    user-select: none;
  }
}
.supplier-box.selected > ion-img {
  border: solid var(--ion-color-primary) 3px;
  padding: calc(0.5em - 3px);
}

#show-all-btn {
  margin: 2em auto;
}

#continue-btn {
  margin: 2em 0;
  height: 2.3em;
}

#products-list {
  display: block;
  background-color: transparent;
  padding: 0;
  ion-list-header {
    align-items: flex-start;
    padding-bottom: 0.5em;
    ion-title {
      padding: 0;
    }
  }
}

#summery {
  background-color: white;
  margin: 0 1em;
  p {
    text-align: center;
  }
  #price-comment {
    font-size: 0.8em;
  }
  #no-products {
    color: var(--ion-color-dark);
  }
}

#summery-list {
  ion-list-header > ion-title {
    border-bottom: solid black 1px;
    padding: 0 0 0.3em 0;
  }
}


#order-list {
  background-color: white;
  width: 100%;
}

#bottom-section {
  margin: 0.5em 0;
  background-color: white;
  width: 100%;
  padding: 1em;
  & > * {
    width: 80%;
    margin: auto;
  }
  p {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    ion-input {
      max-width: 7em;
    }
  }
  #dates {
    margin: auto;
    display: flex;
    align-items: center;
    & > * {
      margin: 0.5em;
    }
    app-time-picker {
      height: 2em;
      width: 20%;
      min-width: 100px;
      border: solid var(--ion-color-medium) 1px;
      border-radius: 1em;
      --padding-start: 1em;
      --padding-end: 1em;
      ion-icon {
        position: absolute;
        left: 0.5em;
        pointer-events: none;
      }
    }
    .date-picker {
      width: 33%;
      min-width: 100px;
      height: 2em;
      border: solid var(--ion-color-medium) 1px;
      border-radius: 1em;
      display: flex;
      align-items: center;
      padding: 0 1em;
      input {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        cursor: pointer;
      }
      ion-icon:first-child {
        height: 1.5em;
        width: 1.5em;
        cursor: pointer;
      }
      ion-icon {
        cursor: pointer;
      }
    }
  }
  p {
    margin-top: 0;
    font-weight: bold;
    ion-text {
      margin: 0 0.5em;
    }
  }
  ion-textarea {
    border: solid var(--ion-color-medium) 1px;
    border-radius: 1rem;
    --padding-start: 1rem;
    &.readonly {
      color: var(--ion-color-medium);
      font-style: italic;
    }
  }
}

#history {
  background-color: white;
  width: 100%;
  margin: 0.5em 0;
  padding: 1em;
  h1 {
    margin: 0 0 1em;
    font-weight: bold;
  }
}


#bottom-buttons {
  margin: 1em 0;
  ion-row {
    width: fit-content;
    margin: auto;
  }
  ion-row:first-child > ion-button {
    height: 2.3em;
    width: 12em;
    margin: 0.5em;
  }
}

#order-sent {
  ion-row > ion-button {
    margin: auto;
  }
  h1 {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 2em;
    margin: 1em 0;
    line-height: 1.5;
  }
}

h1#title-with-logo {
  margin: 1em 0;
  ion-img {
    height: 3em;
    width: 3em;
    transform: translateY(-30%);
  }
}
