<ion-header>
  <app-header [pageTitle]="pageTitle" [comment]="pageTitleComment" *ngIf="order"></app-header>
  <app-reservation-wizard [step]="page" (goToStep)="page = $event" *ngIf="isDraft"></app-reservation-wizard>
</ion-header>

<ion-content *ngIf="order">

  <div class="page-container" *ngIf="page == 1">

    <ion-searchbar placeholder="הקלד שם ספק | פריט | קטגוריה" (ionChange)="searchSupplier($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <div class="select-box">
      <ion-select (ionChange)="selectOrderSupplier($event.detail.value)" interface="popover" placeholder="רשימת ספקים" mode="md" [interfaceOptions]="{cssClass: 'select-popover', animated: false, showBackdrop: false}" appSelectPopover>
        <ion-select-option *ngFor="let supplier of suppliersService.mySuppliers" [value]="supplier.id">{{supplier.name}}</ion-select-option>
      </ion-select>
    </div>

    <div class="suppliers-header" *ngIf="suppliersSearchResults.length">תוצאות החיפוש</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of suppliersSearchResults" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="commonSuppliers.length">חיפושים שכיחים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of commonSuppliers" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <div class="suppliers-header" *ngIf="allSuppliers.length">כל הספקים</div>
    <div class="suppliers-boxes">
      <div class="supplier-box" *ngFor="let supplierId of allSuppliers" (click)="selectOrderSupplier(supplierId)" [ngClass]="order.sid == supplierId ? 'selected' : ''">
        <ion-img [src]="getSupplierData(supplierId).logo || '../../assets/defaults/default_logo.png'"></ion-img>
        <ion-text>{{getSupplierData(supplierId).name}}</ion-text>
      </div>
    </div>

    <ion-row *ngIf="!showAllSuppliers">
      <ion-button fill="outline" color="dark" shape="round" (click)="loadAllSuppliers()" id="show-all-btn">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-text>כל הספקים</ion-text>
      </ion-button>
    </ion-row>

    <ion-row *ngIf="!suppliersService.mySuppliers.length">
      <p class="ion-text-center" style="margin: auto">
        <ion-text color="medium">אין לך עדיין ספקים.</ion-text><br>
        <ion-text color="primary" style="text-decoration: underline; cursor: pointer" (click)="navService.goToSuppliersList()">ליצירת ספקים</ion-text>
      </p>
    </ion-row>

  </div>


  <div class="page-container" *ngIf="page == 2">

    <ion-segment [(ngModel)]="mobileToCartView" class="ion-hide-lg-up">
      <ion-segment-button value="products">רשימת מוצרים</ion-segment-button>
      <ion-segment-button value="order">פרטי הזמנה</ion-segment-button>
    </ion-segment>

    <ion-searchbar placeholder="הקלד שם פריט | קטגוריה" (ionChange)="searchProduct($event.detail.value)">
      <ion-icon src="../../assets/svg/search.svg"></ion-icon>
    </ion-searchbar>

    <ion-row style="margin-top: 2em">

      <ion-col *ngIf="isLargeScreen || mobileToCartView == 'products'" class="ion-padding-start">
        <ion-list id="products-list">

          <ion-list-header>
            <ion-title color="secondary">{{getSelectedSupplier()?.name}}</ion-title>
          </ion-list-header>

          <div>
            <h3>לא קיימים פריטים לספק זה</h3>
            <h6>
              <ion-text color="primary" style="text-decoration: underline; cursor: pointer" (click)="navService.goToProductsList()">ליצירת \ הוספת מוצרים</ion-text>
            </h6>
          </div>

          <app-product-to-cart *ngFor="let product of (filteredSupplierProducts || supplierProducts)"
                               [product]="product"
                               [amount]="order.getProductById(product.id) ? order.getProductById(product.id).amount : 0"
                               (addToCart)="order.setProductAmount(product, $event, product.price)"
          ></app-product-to-cart>

        </ion-list>
        <ion-button shape="round" color="secondary"
                    *ngIf="!isLargeScreen"
                    class="ion-float-end ion-margin"
                    (click)="mobileToCartView = 'order'"
                    [disabled]="!order.products.length"
        >המשך</ion-button>
      </ion-col>

      <ion-col *ngIf="isLargeScreen || mobileToCartView == 'order'" class="ion-padding-end">
        <div id="summery">

          <ion-list id="summery-list">
            <ion-list-header class="ion-padding-horizontal">
              <ion-title>
                <ion-text>פרטי הזמנה</ion-text>
                <ion-text class="ion-float-end" [title]="newSerialMsg">{{order.serial}}</ion-text>
              </ion-title>
            </ion-list-header>

            <div *ngIf="order.products.length">
              <app-product-summery *ngFor="let product of sortProductsByName(order.products)"
                                   [productOrder]="product"
                                   [editProduct]="true"
                                   (clearClicked)="order.setProductAmount(product, 0, null)"
                                   (editClicked)="selectProductInput(product.id)"
              ></app-product-summery>

              <app-products-total-price [price]="order.orderTotalPrice()" [colSize]="3.5" [colPush]="2+7/3"></app-products-total-price>
            </div>


          </ion-list>

          <p id="no-products" *ngIf="!order.products.length">לא קיימים פריטים בהזמנה</p>
          <br><br>
          <p id="price-comment" *ngIf="order.products.length">המחיר אינו סופי ועלול להשתנות בהתאם להסכם עם הספק</p>

          <div class="ion-padding">
            <ion-button shape="round" [color]="order.products.length ? 'primary' : 'dark'" class="ion-margin-end"
                        (click)="page = 3"
                        [disabled]="!order.products.length">
              <ion-icon slot="start" src="../../assets/svg/icon_thumb.svg"></ion-icon>
              <ion-text>אישור הזמנה והמשך בתהליך</ion-text>
            </ion-button>
            <ion-button *ngIf="order.products.length && isDraft" shape="round" (click)="saveDraft()">שמירת טיוטה</ion-button>
          </div>

        </div>
      </ion-col>

    </ion-row>

  </div>


  <div class="page-container" *ngIf="page == 3">

    <img [src]="getSelectedSupplier()?.logo" class="ion-hide-md-up" style="width: 100%; height: 3em; object-fit: contain">

    <h1 class="ion-text-center" id="title-with-logo">
      <ion-text>פרטי הזמנה</ion-text>
      <ion-text *ngIf="page == 3" [title]="newSerialMsg"> מס. {{order.serial}}</ion-text>
      <ion-img [src]="getSelectedSupplier()?.logo" class="ion-float-end ion-hide-md-down"></ion-img>
    </h1>
    <h4 *ngIf="notification" class="ion-text-center" style="margin: 1em">{{notification}}</h4>

    <div *ngIf="!orderSent">
      <ion-list id="order-list">
        <app-product-summery
                *ngFor="let product of sortProductsByName(order.products)"
                [productOrder]="product"
                [editProduct]="(customerEditMode || supplierEditMode)"
                [showComment]="true"
                [editComment]="customerEditMode"
                (clearClicked)="clearOrderFromList(product)"
                (editClicked)="editedProduct = product.id"
                (doneEdit)="editedProduct = null"
                [disabled]="editedProduct && editedProduct != product.id"
                [editBoxes]="supplierEditMode && isFinalApprove"
        ></app-product-summery>

        <app-products-total-price *ngIf="order.products.length" [price]="order.orderTotalPrice()" [colSize]="(customerEditMode || supplierEditMode ? 4 : 5)/3" [colPush]="3+(customerEditMode || supplierEditMode ? 4 : 5)/3"></app-products-total-price>

      </ion-list>

      <div id="bottom-section">

        <div *ngIf="customerEditMode || order.comment" style="margin-bottom: 1em">
          <p style="font-weight: normal; margin: 0 0.5em">הערות {{businessService.side == 'c' ? 'לספק' : 'מהלקוח'}}</p>
          <ion-textarea rows="2"
                        placeholder="כתוב כאן..."
                        [(ngModel)]="order.comment"
                        [readonly]="!customerEditMode"
                        [ngClass]="!customerEditMode ? 'readonly' : ''"
          ></ion-textarea>
        </div>

        <p class="ion-text-center" *ngIf="!customerEditMode && !supplierEditDate">
          <ion-text class="ion-hide-sm-down">ההזמנה תסופק בתאריך: </ion-text>
          <ion-text class="ion-hide-sm-up">זמן אספקה: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'dd/MM/yyyy'}}</ion-text>
          <ion-text class="ion-hide-sm-down"> בשעה: </ion-text>
          <ion-text color="primary">{{order.supplyTime | date : 'HH:mm'}}</ion-text>
          <ion-button *ngIf="supplierEditMode" color="dark" fill="clear" size="small" (click)="supplierEditDate = true" title="שנה תאריך">
            <ion-icon slot="icon-only" src="../../assets/svg/icon_pen.svg"></ion-icon>
          </ion-button>
        </p>

        <p  *ngIf="customerEditMode || supplierEditDate" class="ion-hide-sm-up">בחירת תאריך אספקה:</p>
        <div id="dates" *ngIf="customerEditMode || supplierEditDate">
          <p class="ion-hide-sm-down">בחירת תאריך אספקה:</p>
          <div class="date-picker">
            <input placeholder="תאריך" [min]="now" matInput [matDatepicker]="picker" [(ngModel)]="supplyDateInput" (dateChange)="mergeDateAndTime()" readonly (click)="picker.open()">
            <ion-icon name="caret-down" (click)="picker.open()"></ion-icon>
            <mat-datepicker [touchUi]="narrowScreen" #picker></mat-datepicker>
          </div>
          <app-time-picker
                  [(date)]="supplyHourInput"
                  (dateChange)="mergeDateAndTime()"
                  defaultTime="12:00"
                  placeholder="שעה"
                  icon="caret-down"
          ></app-time-picker>
        </div>

        <ion-item lines="none" *ngIf="supplierEditMode">
          <ion-checkbox slot="start"
                        [value]="order.status >= OrderStatus.APPROVED"
                        [(ngModel)]="isFinalApprove"
                        [disabled]="!canFinalApprove"
          ></ion-checkbox>
          <ion-label>
            <h2>אישור סופי</h2>
            <h6 style="white-space: normal">לקראת יציאה למשלוח. יש למלא כמות ארגזים לכל מוצר ומספר ת. משלוח</h6>
          </ion-label>
        </ion-item>

        <div *ngIf="(supplierEditMode && isFinalApprove) || order.status >= OrderStatus.FINAL_APPROVE">

          <p class="ion-hide-md-down">
            <ion-text>מספר תעודת משלוח: </ion-text>
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="order.invoice" [readonly]="order.status >= OrderStatus.FINAL_APPROVE" name="invoice">
            </mat-form-field>
            <ion-text>שם נהג: </ion-text>
            <mat-form-field>
              <input matInput [(ngModel)]="order.driverName" [readonly]="order.status >= OrderStatus.FINAL_APPROVE" name="driverName">
            </mat-form-field>
          </p>

          <div class="ion-hide-md-up">
            <ion-item>
              <ion-label position="stacked">מספר תעודת משלוח</ion-label>
              <ion-input type="number" [(ngModel)]="order.invoice" [readonly]="order.status >= OrderStatus.FINAL_APPROVE" name="invoice"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">שם נהג</ion-label>
              <ion-input [(ngModel)]="order.driverName" [readonly]="order.status >= OrderStatus.FINAL_APPROVE" name="driverName"></ion-input>
            </ion-item>
          </div>

        </div>

        <div *ngIf="supplierEditMode || order.supplierComment" style="margin-top: 1em">
          <p style="font-weight: normal; margin: 0 0.5em">הערות {{businessService.side == 'c' ? 'מהספק' : 'ללקוח'}}</p>
          <ion-textarea rows="2"
                        placeholder="כתוב כאן..."
                        [(ngModel)]="order.supplierComment"
                        [readonly]="!supplierEditMode"
                        [ngClass]="!supplierEditMode ? 'readonly' : ''"
          ></ion-textarea>
        </div>

      </div>

      <div id="history" *ngIf="!customerEditMode && order.changes.length">
        <h1>
          <ion-text color="primary" class="ion-padding">היסטוריית הזמנה</ion-text>
        </h1>

        <ol>
          <li *ngFor="let change of order.changes">
            <app-order-change-report [orderChange]="change">
            </app-order-change-report>
          </li>
        </ol>

      </div>

      <div id="bottom-buttons">
        <ion-row>
          <ion-button shape="round" color="dark" *ngIf="customerEditMode" (click)="page = 2">הוספת פריטים להזמנה</ion-button>
          <ion-button shape="round" color="dark" *ngIf="isDraft" (click)="saveDraft()">שמירה כטיוטה</ion-button>
<!--          <ion-button shape="round" color="dark" *ngIf="supplierEditMode" (click)="approveOrder()">אישור ראשוני</ion-button>-->
          <ion-button shape="round" color="dark" *ngIf="!isDraft && (customerEditMode || supplierEditMode)" (click)="cancelOrder()">ביטול הזמנה</ion-button>
        </ion-row>
        <ion-row>

          <ion-button shape="round" strong="true"
                      *ngIf="supplierEditMode"
                      (click)="approveOrder()"
                      [disabled]="!orderHasChanged() && !isFinalApprove && order.status >= OrderStatus.APPROVED"
          >
            <ion-icon src="../../assets/svg/icon_thumb.svg" slot="start"></ion-icon>
            <ion-text *ngIf="orderHasChanged()">שמירת שינויים ו</ion-text>
            <ion-text *ngIf="supplierEditMode">{{isFinalApprove ? 'אישור סופי' : 'אישור ראשוני'}}</ion-text>
          </ion-button>

          <ion-button shape="round" strong="true"
                      *ngIf="customerEditMode"
                      (click)="sendOrder()"
                      [disabled]="!orderHasChanged()"
          >
            <ion-icon src="../../assets/svg/icon_thumb.svg" slot="start"></ion-icon>
            <ion-text *ngIf="!isDraft">שמירת שינויים ו</ion-text>
            <ion-text>שליחת הזמנה לספק</ion-text>
          </ion-button>

          <ion-button shape="round" *ngIf="!customerEditMode && !supplierEditMode" (click)="backToMain()">חזרה למסך הראשי</ion-button>
        </ion-row>
      </div>
    </div>

    <div *ngIf="orderSent" id="order-sent">

      <h1>ההזמנה התקבלה בהצלחה<br>ונשלחה לספק</h1>

      <ion-row>
        <ion-button shape="round" (click)="backToMain()">חזרה למסך הראשי</ion-button>
      </ion-row>

    </div>

  </div>

</ion-content>
