<ion-content>

  <website-header></website-header>

  <h1 class="title">{{pageStatus == PageStatus.RESET_PASSWORD || pageStatus == PageStatus.FORGOT_PASSWORD ? 'שכחתי סיסמא' : 'הרשמה למערכת'}}</h1>


  <div id="step" *ngIf="pageStatus >= PageStatus.FIRST_STEP && pageStatus <= PageStatus.PAYMENTS">
    <ion-img [src]="'../../../assets/website/step' + (pageStatus - 20) + '.png'"></ion-img>
    <ion-row>
      <ion-col>
        <div class="ion-float-start">פרטי כניסה למערכת</div>
      </ion-col>
      <ion-col>
        <div>פרטי עסק</div>
      </ion-col>
      <ion-col *ngIf="side != 's'">
        <div class="ion-float-end">אמצעי תשלום</div>
      </ion-col>
    </ion-row>
  </div>



  <div class="form" [ngClass]="pageStatus == PageStatus.SECOND_STEP ? 'double' : ''" [ngStyle]="{marginTop: pageStatus == PageStatus.CONTACT ? '4em' : '2em'}">

    <div *ngIf="pageStatus == PageStatus.CONTACT || pageStatus == PageStatus.FORGOT_PASSWORD || pageStatus == PageStatus.RESET_PASSWORD">

      <h1 class="reset-password-msg" *ngIf="subheaderToShow()">{{subheaderToShow()}}</h1>

      <ion-input placeholder="שם העסק"
                 name="businessName"
                 aria-label="Business Name"
                 *ngIf="inputToShow('businessName')"
                 [(ngModel)]="businessName"
                 required
      ></ion-input>

      <ion-input placeholder="שם מלא"
                 name="fullName"
                 aria-label="Full Name"
                 *ngIf="inputToShow('name')"
                 [(ngModel)]="fullName"
                 required
      ></ion-input>

      <ion-input placeholder="דוא&quot;ל"
                 type="email"
                 name="email"
                 aria-label="Email"
                 *ngIf="inputToShow('email')"
                 [(ngModel)]="email"
                 required
                 [pattern]="EmailRegex"
      ></ion-input>

      <ion-input placeholder="טלפון"
                 name="phone"
                 aria-label="Phone"
                 type="tel"
                 *ngIf="inputToShow('phone')"
                 [(ngModel)]="phone"
                 required
      ></ion-input>

      <ion-input placeholder="סיסמה חדשה"
                 name="newPassword"
                 aria-label="New Password"
                 type="password"
                 [(ngModel)]="password"
                 *ngIf="inputToShow('password')"
                 required
      ></ion-input>

      <ion-input placeholder="אימות סיסמה"
                 name="Password2"
                 aria-label="Password Verification"
                 type="password"
                 [(ngModel)]="passwordV"
                 *ngIf="inputToShow('passwordV')"
                 required
      ></ion-input>

    </div>

    <div *ngIf="pageStatus == PageStatus.FIRST_STEP">

      <ion-input placeholder="* שם הלקוח"
                 name="customerName"
                 aria-label="Customer Name"
                 [(ngModel)]="userDoc.displayName"
                 required
      ></ion-input>

      <ion-input placeholder="* כתובת דוא&quot;ל"
                 type="email"
                 name="email"
                 aria-label="User Email"
                 [(ngModel)]="userDoc.email"
                 required
                 [pattern]="EmailRegex"
      ></ion-input>
      <p class="helper-text">
        <ion-text color="medium">כתובת הדוא&quot;ל האישית שלך, לצורך חיבור למערכת</ion-text>
      </p>

      <ion-input placeholder="* סיסמה"
                 type="password"
                 name="password"
                 aria-label="Password"
                 [(ngModel)]="password"
                 required
                 [pattern]="PasswordRegex"
      ></ion-input>

      <ion-input placeholder="* אישור סיסמה"
                 type="password"
                 name="password2"
                 aria-label="Password Verification"
                 [(ngModel)]="passwordV"
                 required
                 [pattern]="PasswordRegex"
      ></ion-input>

    </div>

    <p class="helper-text" *ngIf="pageStatus == PageStatus.SECOND_STEP">
      <ion-text color="medium">* פרטי העסק ניתנים לעריכה בהמשך</ion-text>
    </p>

    <ion-row *ngIf="pageStatus == PageStatus.SECOND_STEP">

      <ion-col class="ion-padding-end">

        <ion-input placeholder="* שם העסק"
                   name="businessName"
                   aria-label="Business Name"
                   required
                   [(ngModel)]="businessDoc.name"
        ></ion-input>

        <div class="extended-input">
          <ion-input placeholder="* כתובת דוא&quot;ל ראשית"
                     type="email"
                     name="contact1email"
                     aria-label="Primary contact email address"
                     required
                     [pattern]="EmailRegex"
                     [(ngModel)]="businessDoc.contacts[0].email"
          ></ion-input>
          <ion-fab-button size="small" class="ion-float-end" *ngIf="businessDoc.contacts[1].email === undefined" (click)="businessDoc.contacts[1].email = ''">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </div>

        <div class="extended-input" *ngIf="businessDoc.contacts[1].email !== undefined">
          <ion-input placeholder="כתובת דוא&quot;ל נוספת"
                     type="email"
                     name="contact2email"
                     aria-label="Secondary contact email address"
                     [pattern]="EmailRegex"
                     [(ngModel)]="businessDoc.contacts[1].email"
          ></ion-input>
          <ion-fab-button size="small" color="danger" class="ion-float-end" (click)="businessDoc.contacts[1].email = undefined">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </div>

        <div class="extended-input">
          <ion-input placeholder="* נייד"
                     type="tel"
                     name="contact1phone"
                     aria-label="Primary contact phone"
                     required
                     [(ngModel)]="businessDoc.contacts[0].phone"
          ></ion-input>
          <ion-fab-button size="small" class="ion-float-end" *ngIf="businessDoc.contacts[1].phone === undefined" (click)="businessDoc.contacts[1].phone = ''">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </div>

        <div class="extended-input" *ngIf="businessDoc.contacts[1].phone !== undefined">
          <ion-input placeholder="נייד נוסף"
                     type="tel"
                     name="contact2phone"
                     aria-label="Secondary contact phone"
                     [(ngModel)]="businessDoc.contacts[1].phone"
          ></ion-input>
          <ion-fab-button size="small" color="danger" class="ion-float-end" (click)="businessDoc.contacts[1].phone = undefined">
            <ion-icon name="close"></ion-icon>
          </ion-fab-button>
        </div>

        <p class="helper-text">
          <ion-text color="medium">פרטי אנשי קשר אליהם יישלחו התראות (יש להזין לפחות איש קשר אחד)</ion-text>
        </p>

      </ion-col>
      <ion-col class="ion-padding-start">

        <ion-input placeholder="* כתובת עסק"
                   name="address"
                   aria-label="Business address"
                   [(ngModel)]="businessDoc.address"
                   required
        ></ion-input>

        <ion-input placeholder="טלפון עסק"
                   type="tel"
                   name="businessPhone"
                   aria-label="Business Phone"
                   [(ngModel)]="businessDoc.businessPhone"
        ></ion-input>

        <ion-input placeholder="פקס"
                   type="tel"
                   name="fax"
                   aria-label="Fax"
                   [(ngModel)]="businessDoc.fax"
        ></ion-input>

        <ion-input placeholder="* מספר עוסק"
                   inputmode="number"
                   name="companyId"
                   aria-label="Company ID"
                   [(ngModel)]="businessDoc.companyId"
                   required
                   pattern="[0-9]*"
        ></ion-input>

        <ion-input placeholder="דוא&quot;ל הנהלת חשבונות"
                   type="email"
                   name="accountancy Email"
                   aria-label="Accountancy Email"
                   [pattern]="EmailRegex"
                   [(ngModel)]="businessDoc.accountancyEmail"
        ></ion-input>

        <input type="file"
               accept="image/*"
               class="ion-hide"
               #inputFile
               (change)="uploadLogo($event.target.files[0])"
        >
        <ion-input placeholder="* תמונת לוגו" id="logo-input" readonly></ion-input>
        <ion-button shape="round" class="ion-float-end"
                    (click)="inputFile.click()"
                    [disabled]="logoLoader"
                    *ngIf="!businessDoc.logo"
        >העלאת קובץ</ion-button>

        <ion-item *ngIf="logoLoader || businessDoc.logo" lines="none">
          <ion-thumbnail slot="start" *ngIf="businessDoc.logo">
            <img [src]="businessDoc.logo">
          </ion-thumbnail>
          <ion-spinner *ngIf="logoLoader" color="dark" slot="end"></ion-spinner>
          <ion-button color="dark" shape="round" fill="clear" slot="end"
                      (click)="businessDoc.logo = inputFile.value = null"
                      *ngIf="businessDoc.logo">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-col>
    </ion-row>


    <div *ngIf="pageStatus == PageStatus.PAYMENTS">

      <h5>שלום {{authService.currentUser.displayName}},</h5>

      <p *ngIf="isPaymentValid">
        <ion-text>חשבון העסק שלך בתוקף עד {{paymentsService.validUntil.toLocaleDateString()}}</ion-text>
      </p>
      <p *ngIf="!isPaymentValid && paymentsService.validUntil">
        <ion-text>חשבון העסק שלך אינו בתוקף מאז {{paymentsService.validUntil.toLocaleDateString()}}</ion-text>
      </p>
      <p *ngIf="!isPaymentValid && !paymentsService.validUntil">
        <ion-text>ברוך הבא ל-Scale Sense!</ion-text>
      </p>

      <ion-row class="ion-margin-top" *ngIf="payBtnText()">
        <ion-button color="secondary" shape="round" strong style="margin: auto" (click)="pay()">{{payBtnText()}}</ion-button>
        <p class="ion-text-center">
          <ion-text color="medium">לצורך ביצוע התשלום, תועבר לאתר חיצוני</ion-text>
        </p>
      </ion-row>

    </div>

    <re-captcha
            siteKey="6LeDYvUUAAAAAOMyXostbdK5Gleg3GAI-wwbysoL"
            (resolved)="mailService.recaptcha = $event"
            class="ion-margin"
            *ngIf="pageStatus == PageStatus.CONTACT">
    </re-captcha>

    <ion-row class="send-btn">
      <ion-button color="medium" shape="round" (click)="pageStatus = PageStatus.FIRST_STEP" *ngIf="pageStatus == PageStatus.SECOND_STEP">אחורה</ion-button>
      <ion-button color="secondary" shape="round" strong="true" (click)="buttonAction()" *ngIf="buttonText()">{{buttonText()}}</ion-button>
<!--      <ion-button shape="round" strong="true" *ngIf="pageStatus == PageStatus.PAYMENTS" style="width: 75%" (click)="buttonAction()">סיום הרשמה וכניסה למערכת</ion-button>-->
    </ion-row>
    <p id="required-comment" *ngIf="pageStatus >= PageStatus.FIRST_STEP && pageStatus < PageStatus.PAYMENTS">יש למלא את כל השדות המסונים ב*</p>

  </div>

  <h1 class="scs-msg" *ngIf="pageStatus == PageStatus.REGISTRATION_DONE">הפרטים נשלחו בהצלחה</h1>
  <h1 class="scs-msg" *ngIf="pageStatus == PageStatus.RESET_PASSWORD_EMAIL_SENT">קישור לאיפוס סיסמא נשלח למייל: {{email}}</h1>

  <div id="done" *ngIf="pageStatus == PageStatus.CONTACT_DONE">
    <ion-img src="../../../assets/website/contact_done.png"></ion-img>
    <h1>תודה רבה, הפרטים נקלטו בהצלחה.</h1>
    <h2>נציגנו ייצור איתך קשר בהקדם</h2>
  </div>

</ion-content>

<ion-footer>
  <website-footer></website-footer>
</ion-footer>
