<div id="wizard-container">

  <div id="wizard-inner">

    <div class="circle" [ngClass]="step == 1 ? 'current' : 'after'" (click)="stepClicked(1)">בחירת ספק</div>

    <div class="line"></div>

    <div class="circle" [ngClass]="step == 2 ? 'current' : (step == 3 ? 'after' : '')" (click)="stepClicked(2)">ביצוע הזמנה</div>

    <div class="line"></div>

    <div class="circle" [ngClass]="step == 3 ? 'current' : 'before'">סיכום הזמנה</div>

  </div>

  <ion-button id="back-btn" color="secondary" fill="clear" strong="true" (click)="backToMain()">חזרה למסך הראשי</ion-button>

</div>

