<div id="wizard-container">

  <div id="wizard-inner">

    <div class="circle" [ngClass]="_step == 1 ? 'current' : 'after'" [ngStyle]="{cursor: maxStep >= _step ? 'pointer' : ''}" (click)="stepClicked(1)">בחירת ספק</div>

    <div class="line"></div>

    <div class="circle" [ngClass]="_step == 2 ? 'current' : (_step == 3 ? 'after' : '')" [ngStyle]="{cursor: maxStep >= _step ? 'pointer' : ''}" (click)="stepClicked(2)">ביצוע הזמנה</div>

    <div class="line"></div>

    <div class="circle" [ngClass]="_step == 3 ? 'current' : 'before'" [ngStyle]="{cursor: maxStep >= _step ? 'pointer' : ''}" (click)="stepClicked(3)">סיכום הזמנה</div>

  </div>

</div>

