<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>שקילה</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

  <ion-text id="waiting" *ngIf="!stream">ממתין למצלמה...</ion-text>

  <video *ngIf="!snapshot && !isMobile"
         autoplay
         [srcObject]="stream"
         id="video"
         class="view"
  ></video>

  <div *ngIf="isMobile && !snapshot" class="view"></div>

  <img [src]="snapshot" *ngIf="snapshot" class="view">

  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="secondary" (click)="takeSnapshot()" [disabled]="!mock && (!websocketService.hasConnection || !stream)" *ngIf="!snapshot">
      <ion-icon name="speedometer"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="accept()" *ngIf="snapshot">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="!websocketService.hasConnection" class="ion-padding">
    <p><ion-text color="danger">בעיה בחיבור</ion-text></p>
    <ul>
      <li *ngIf="!websocketService.scalesId">
        <ion-text>לא קיים משקל משוייך</ion-text>
        <ion-text class="ion-margin-start" color="primary" style="cursor: pointer; text-decoration: underline" (click)="define()">הגדר</ion-text>
      </li>
      <li *ngIf="!websocketService.appConnected && websocketService.scalesId">בעיה בחיבור לשרת</li>
      <li *ngIf="!websocketService.scaleConnected && websocketService.appConnected && websocketService.scalesId">לא מקבל אות מהמשקל</li>
    </ul>
  </div>


</ion-content>

