<ion-list>

  <ion-item (click)="acceptAmount()" button>
    <ion-label>קבל מוצר ללא שקילה</ion-label>
    <ion-icon slot="end" color="success" name="checkmark"></ion-icon>
  </ion-item>

  <ion-item (click)="missing()" button>
    <ion-label>מוצר חסר</ion-label>
    <ion-icon slot="end" color="danger" name="close"></ion-icon>
  </ion-item>

  <ion-item lines="none" (click)="ionInput.setFocus()" button>
    <ion-label>הזנת כמות ידנית</ion-label>
    <ion-input #ionInput
               type="number" step="any"
               [(ngModel)]="amount" (keyup.enter)="customAmount()"
               select-text
               (ionFocus)="showDet = true"
    ></ion-input>
    <ion-icon slot="end" color="dark" name="keypad" *ngIf="!showDet"></ion-icon>
  </ion-item>

  <ion-radio-group [(ngModel)]="unit" *ngIf="showDet">
    <ion-item lines="none">
      <ion-radio slot="start" value="weight"></ion-radio>
      <ion-label>{{null | unitAmount : 0}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-radio slot="start" value="unit"></ion-radio>
      <ion-label>{{null | unitAmount : product.type}}</ion-label>
    </ion-item>
  </ion-radio-group>

  <ion-button color="success" expand="full"
              *ngIf="showDet"
              [disabled]="!amount"
              (click)="customAmount()"
  >אישור</ion-button>

</ion-list>
