<ion-row id="pages-btns" dir="ltr" *ngIf="numOfItems">
  <ion-button fill="clear" (click)="previousClicked()" title="הקודם" [disabled]="!canGoBack" [color]="canGoBack ? 'primary' : 'dark'">
    <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
  </ion-button>
  <ion-text>{{fromItem}} - {{toItem}}</ion-text>
  <ion-button fill="clear" (click)="nextClicked()" title="הבא" [disabled]="!canGoForward" [color]="canGoForward ? 'primary' : 'dark'">
    <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
  </ion-button>
</ion-row>
