<ion-grid class="app-table">

  <ion-row>

    <ion-col size="1"></ion-col>
    <ion-col>שם מלא</ion-col>
    <ion-col size="2.5">דוא&quot;ל</ion-col>
    <ion-col size="1.5">דרג</ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>

  </ion-row>

  <ion-row *ngFor="let user of users">

    <ion-col size="1">
      <ion-button fill="clear" color="secondary" class="small-circle-btn" (click)="onDeleteUserClicked(user)" [disabled]="user.role == UserRole.ADMIN || usersService.myDoc.role != UserRole.ADMIN">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>{{user.displayName}}</ion-col>
    <ion-col size="2.5">{{user.email}}</ion-col>
    <ion-col size="1.5">{{user.role | roleName}}</ion-col>

    <ion-col>
      <ion-button
              shape="round"
              [fill]="userToEdit?.uid == user.uid ? 'solid' : 'outline'"
              [color]="userToEdit?.uid == user.uid ? 'secondary' : 'dark'"
              (click)="onEditUserClicked(user)"
              [disabled]="!canEditDetails(user) || disabled"
      >עריכת פרטים</ion-button>
    </ion-col>

    <ion-col>
      <ion-button shape="round"
                  [fill]="selectedUser == user.uid ? 'solid' : 'outline'"
                  [color]="selectedUser == user.uid ? 'secondary' : 'dark'"
                  (click)="onPermissionClicked(user)"
                  [disabled]="!canEditPermissions(user) || disabled">
        <ion-icon slot="start" src="../../assets/svg/icon_pen.svg"></ion-icon>
        <ion-text>עריכת הרשאה</ion-text>
      </ion-button>
    </ion-col>

    <app-new-user [show]="userToEdit?.uid == user.uid"
                  [editUser]="user"
                  (userCreated)="userToEdit = null"
    ></app-new-user>

  </ion-row>

</ion-grid>
