<ion-header>
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content>

  <div class="page-container" *ngIf="product">

    <div class="form">

      <p class="form-title">פרטי מוצר</p>

      <ion-row class="inputs" style="padding-bottom: 0">

        <ion-col>

          <ion-row class="input-div">
            <ion-col size="3" required>ספק</ion-col>
            <ion-col>
              <div class="select-box">
                <ion-select [(ngModel)]="product.sid" interface="popover" placeholder="בחר ספק" mode="md" [interfaceOptions]="{cssClass: 'select-popover', animated: false, showBackdrop: false}" appSelectPopover>
                  <ion-select-option *ngFor="let supplier of suppliersService.mySuppliers" [value]="supplier.id">{{supplier.name}}</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3">מספר ספק</ion-col>
            <ion-col>
              <ion-input [value]="suppliersService.getSupplierById(product.sid).nid" disabled></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>שם מוצר</ion-col>
            <ion-col>
              <ion-input [(ngModel)]="product.name"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>מספר מוצר</ion-col>
            <ion-col>
              <ion-input type="number" [(ngModel)]="product.catalogNumC"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>מק"ט</ion-col>
            <ion-col>
              <ion-input type="number" [(ngModel)]="product.catalogNumS"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>תמונה</ion-col>
            <ion-col style="padding: 0" *ngIf="!logoPreview">
              <ion-button shape="round" color="secondary" (click)="fileInput.click()">העלאת תמונה</ion-button>
              <input class="ion-hide" type="file" accept="image/*" #fileInput (change)="chooseLogo($event.target.files[0])">
              <ion-button fill="clear" color="dark" class="ion-float-end">
                <ion-icon name="camera" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="dark" class="ion-float-end" (click)="enterLink()">
                <ion-icon name="link" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col style="padding: 0; display: flex; justify-content: space-between; align-items: center;" *ngIf="logoPreview">
              <ion-thumbnail>
                <img [src]="logoPreview">
              </ion-thumbnail>
              <ion-button fill="clear" color="secondary" class="small-circle-btn" (click)="clearLogo()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-col size="1"></ion-col>

        <ion-col>

          <ion-row class="input-div">
            <ion-col size="3" required>קטגוריה</ion-col>
            <ion-col>
              <div class="select-box">
                <ion-select [(ngModel)]="product.category" interface="popover" placeholder="בחר קטגוריה" mode="md" [interfaceOptions]="{cssClass: 'select-popover', animated: false, showBackdrop: false}" appSelectPopover>
                  <ion-select-option></ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>סוג מוצר</ion-col>
            <ion-col>
              <div class="select-box">
                <ion-select [(ngModel)]="product.type" interface="popover" placeholder="בחר" mode="md" [interfaceOptions]="{cssClass: 'select-popover', animated: false, showBackdrop: false}" appSelectPopover>
                  <ion-select-option *ngFor="let type of productTypes" [value]="type">{{null | unitAmount : type}}</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="product.type">
            <ion-col size="3" required>משקל {{null | unitAmount : product.type}}</ion-col>
            <ion-col style="display: flex">
              <ion-input type="number" [(ngModel)]="product.unitWeight"></ion-input>
              <ion-text class="ion-text-end" style="border-bottom: solid black 1px">ק"ג</ion-text>
            </ion-col>
            <ion-col size="3" style="padding: 0">
              <ion-button class="ion-float-end" color="secondary" shape="round">שקילה</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col required>האם אריזה כלולה במשקל?</ion-col>
            <ion-col style="padding: 0">
              <ion-button class="ion-float-end" shape="round" [fill]="taraIncluded ? 'outline' : 'solid'" [color]="taraIncluded ? 'dark' : 'primary'" (click)="taraIncluded = false">לא</ion-button>
              <ion-button class="ion-float-end" shape="round" [fill]="!taraIncluded ? 'outline' : 'solid'" [color]="!taraIncluded ? 'dark' : 'primary'" (click)="taraIncluded = true">כן</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="!taraIncluded">
            <ion-col size="3" required>משקל אריזה</ion-col>
            <ion-col>
              <div class="select-box">
                <ion-input type="number" [(ngModel)]="product.tara"></ion-input>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>מחיר</ion-col>
            <ion-col style="display: flex">
              <ion-input type="number" [(ngModel)]="product.price"></ion-input>
              <ion-text class="ion-text-end" style="border-bottom: solid black 1px">{{null | price}} / {{null | unitAmount : product.type}}</ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="3" required>ברקוד</ion-col>
            <ion-col>
              <div class="select-box">
                <ion-input type="number" [(ngModel)]="product.barcode"></ion-input>
              </div>
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>

      <ion-row class="inputs" style="padding-top: 0">
        <ion-col>
          <ion-row class="input-div">
            <ion-col size="1.5">תיאור פריט</ion-col>
            <ion-col>
              <ion-input [(ngModel)]="product.description"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </div>

    <ion-row id="bottom-section">
      <ion-col>
        <p *ngIf="product.created">
          <ion-text>תאריך הקמה: </ion-text>
          <ion-text>{{product.created | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
        <p *ngIf="product.modified">
          <ion-text>תאריך עדכון: </ion-text>
          <ion-text>{{product.modified | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
      </ion-col>
      <ion-col>
        <ion-button shape="round" class="ion-float-end" (click)="save()">שמירת נתונים</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
