<ion-header>
  <app-header [pageTitle]="pageTitle"></app-header>
</ion-header>

<ion-content>

  <div class="page-container" *ngIf="product">

    <div class="form">

      <p class="form-title">פרטי מוצר</p>

      <div class="inputs">

        <div>

          <ion-row class="input-div">
            <ion-col size="4" required>שם מוצר</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput [(ngModel)]="product.name">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4" required>מק"ט (משתמש)</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="product.catalogNumC">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="4" required>מק"ט (ספק)</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="product.catalogNumS">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="4" required>תמונה</ion-col>
            <ion-col style="padding: 0" *ngIf="!logoPreview">
              <ion-button shape="round" color="secondary" (click)="fileInput.click()">העלאת תמונה</ion-button>
              <input class="ion-hide" type="file" accept="image/*" #fileInput (change)="chooseLogo($event.target.files[0])">
              <ion-button fill="clear" color="dark" class="ion-float-end" (click)="getPicture()">
                <ion-icon name="camera" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="dark" class="ion-float-end" (click)="enterLink()">
                <ion-icon name="link" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col style="padding: 0; display: flex; justify-content: space-between; align-items: center;" *ngIf="logoPreview">
              <ion-thumbnail>
                <img [src]="logoPreview">
              </ion-thumbnail>
              <ion-button fill="clear" color="secondary" class="small-circle-btn" (click)="clearLogo()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

            <ion-row class="input-div">
              <ion-col size="4">תיאור פריט</ion-col>
              <ion-col>
                <mat-form-field>
                  <input matInput [(ngModel)]="product.description">
                </mat-form-field>
              </ion-col>
            </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4" required>ספק</ion-col>
            <ion-col>
              <app-autocomplete-field placeholder="שם ספק"
                                      [list]="suppliersService.mySuppliers"
                                      displayProp="name"
                                      valueProp="id"
                                      [selected]="product.sid"
                                      (onSelect)="product.sid = $event"
              ></app-autocomplete-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4">מספר ספק</ion-col>
            <ion-col>
              <mat-form-field>
                <mat-label></mat-label>
                <input matInput type="number" [value]="suppliersService.getSupplierById(product.sid)?.nid || ''" placeholder="אוטומטי" readonly>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4" required>קטגוריה</ion-col>
            <ion-col>
              <app-autocomplete-field placeholder="בחר קטגוריה"
                                      [list]="categoriesService.categoriesToShow"
                                      displayProp="title"
                                      valueProp="title"
                                      [selected]="product.category"
                                      (onSelect)="product.category = $event"
              ></app-autocomplete-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="4" required>סוג יחידה</ion-col>
            <ion-col>
              <mat-form-field>
                <mat-label></mat-label>
                <mat-select [(ngModel)]="product.type">
                  <mat-option *ngFor="let type of productTypes" [value]="type">{{null | unitAmount : type}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="product.type">
            <ion-col size="4" required>משקל {{null | unitAmount : product.type}}</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="product.unitWeight">
                <ion-text matSuffix>{{null | unitAmount : 0}}</ion-text>
              </mat-form-field>
            </ion-col>
            <ion-col size="4" style="padding: 0">
              <ion-button fill="clear" color="secondary" class="ion-float-end" title="שקילה">
                <ion-icon slot="icon-only" src="../../assets/svg/icon_weight.svg"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </div>

        <div>

          <ion-row class="input-div">
            <ion-col size="4" required>מחיר</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" step="any" [formControl]="priceFormControl" [min]="product.minPrice" [max]="product.maxPrice" [(ngModel)]="product.price">
                <ion-text matSuffix>{{null | price}} / {{null | unitAmount : product.type}}</ion-text>
                <mat-error *ngIf="priceFormControl.hasError('min') || priceFormControl.hasError('max')">מחיר מחוץ לטווח</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4">טווח מחיר</ion-col>
            <ion-col size="3.75">
              <mat-form-field>
                <mat-label>מינימום</mat-label>
                <input matInput type="number" step="any" [(ngModel)]="product.minPrice" (blur)="onPriceLimitChange()">
              </mat-form-field>
            </ion-col>
            <ion-col size="0.5"></ion-col>
            <ion-col size="3.75">
              <mat-form-field>
                <mat-label>מקסימום</mat-label>
                <input matInput type="number" step="any" [(ngModel)]="product.maxPrice" (blur)="onPriceLimitChange()">
                <ion-text matSuffix>{{null | price}} / {{null | unitAmount : product.type}}</ion-text>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4">אפיצות משקל בהזמנה</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" step="any" [(ngModel)]="product.orderWeightTolerance">
                <ion-text matSuffix>%</ion-text>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="businessService.side == 'c'">
            <ion-col size="4">אפיצות משקל בקבלה</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" step="any" [(ngModel)]="product.receiveWeightTolerance">
                <ion-text matSuffix>%</ion-text>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col required>האם אריזה כלולה במשקל?</ion-col>
            <ion-col style="padding: 0">
              <ion-button class="ion-float-end" shape="round" [fill]="taraIncluded ? 'outline' : 'solid'" [color]="taraIncluded ? 'dark' : 'primary'" (click)="taraIncluded = false">לא</ion-button>
              <ion-button class="ion-float-end" shape="round" [fill]="!taraIncluded ? 'outline' : 'solid'" [color]="!taraIncluded ? 'dark' : 'primary'" (click)="taraIncluded = true">כן<br>\ ללא אריזה</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="!taraIncluded">
            <ion-col size="4" required>משקל אריזה</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" step="any" [(ngModel)]="product.tara">
                <ion-text matSuffix>{{null | unitAmount : 0}}</ion-text>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="4">מינימום להזמנה</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" step="any" [(ngModel)]="product.orderMin">
                <ion-text matSuffix>{{null | unitAmount : product.type}}</ion-text>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col size="4" required>ברקוד</ion-col>
            <ion-col>
              <mat-form-field>
                <input matInput type="number" [(ngModel)]="product.barcode">
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row class="input-div">
            <ion-col required>האם פרי\ירק?</ion-col>
            <ion-col style="padding: 0">
              <ion-button class="ion-float-end" shape="round" [fill]="product.isVeg ? 'outline' : 'solid'" [color]="product.isVeg ? 'dark' : 'primary'" (click)="product.isVeg = false">לא</ion-button>
              <ion-button class="ion-float-end" shape="round" [fill]="!product.isVeg ? 'outline' : 'solid'" [color]="!product.isVeg ? 'dark' : 'primary'" (click)="product.isVeg = true">כן</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="input-div" *ngIf="product.isVeg">
            <mat-form-field>
              <mat-label>קישור לפריט באתר משרד החקלאות</mat-label>
              <input matInput type="url" [(ngModel)]="product.agriLink">
              <button mat-button *ngIf="product.agriLink" matSuffix mat-icon-button aria-label="Clear" (click)="product.agriLink=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </ion-row>

        </div>

      </div>

    </div>

    <ion-row id="bottom-section">
      <ion-col>
        <p *ngIf="product.created">
          <ion-text>תאריך הקמה: </ion-text>
          <ion-text>{{product.created | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
        <p *ngIf="product.modified">
          <ion-text>תאריך עדכון: </ion-text>
          <ion-text>{{product.modified | date : 'dd/MM/yyyy'}}</ion-text>
        </p>
      </ion-col>
      <ion-col>
        <ion-button shape="round" class="ion-float-end" (click)="save()">שמירת נתונים</ion-button>
      </ion-col>
    </ion-row>

  </div>

</ion-content>
