@import "../edit-supplier/edit-supplier.page.scss";

.form {
  width: 100% !important;
}

.select-box {
  border: none !important;
  padding: 0 !important;
  ion-select {
    border-bottom: solid black 1px;
    --padding-top: 0;
    --padding-bottom: 0;
  }
}

.inputs {
  // See in two rows only if the screen width is more than 1000
  @media only screen and (min-width: 1000px) {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
  }
}

.inputs > ion-col {
  padding: 0;
}

mat-form-field, app-autocomplete-field {
  width: 100%;
}
