<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div class="buttons-row ion-hide-sm-down">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    (click)="navService.goToProductsList()"
                    [disabled]="!userService.hasPermission(UserPermissions.SETTINGS_PRODUCTS)"
        >מוצרים</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    (click)="navService.goToOrdersList()"
                    [disabled]="!userService.hasPermission(UserPermissions.ORDER_STATUS)"
        >הזמנות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    (click)="navService.goToReturnsList()"
                    [disabled]="!userService.hasPermission(UserPermissions.ORDER_RETURN)"
        >החזרות</ion-button>
      </div>
    </div>
    <div class="buttons-row ion-hide-sm-down">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToSettings()">הגדרות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    [disabled]="!userService.hasPermission(UserPermissions.REPORTS)"
        >דוחות</ion-button>
      </div>
    </div>


    <ion-list class="ion-hide-sm-up ion-no-padding">

      <ion-item *ngFor="let btn of buttons" color="primary" detail (click)="btn.click()" class="ion-margin-bottom">
        <ion-title>{{btn.innerText}}</ion-title>
      </ion-item>

    </ion-list>


  </div>

  <div id="notifications-title">
    <p>הודעות ועדכונים</p>
  </div>

  <div class="page-container">

    <app-notifications-table></app-notifications-table>

  </div>

</ion-content>
