<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div class="buttons-row">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToProductsList()">מוצרים</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToOrdersList()">הזמנות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round">החזרות</ion-button>
      </div>
    </div>
    <div class="buttons-row">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToSettings()">הגדרות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round">דוחות</ion-button>
      </div>
    </div>

  </div>

  <div id="notifications-title">
    <p>הודעות ועדכונים</p>
  </div>

  <div class="page-container">

    <ion-grid id="orders-table">

      <ion-row>
        <ion-col size="1" class="ion-text-center">סטטוס</ion-col>
        <ion-col class="center">שם לקוח</ion-col>
        <ion-col class="center">מספר הזמנה</ion-col>
        <ion-col size="6">נושא</ion-col>
      </ion-row>

      <div *ngIf="!notifications.length" id="no-notes">אין הודעות</div>

      <ion-row *ngFor="let note of notifications; let odd = odd" [ngClass]="odd ? '' : 'odd'">
        <ion-col size="1" class="ion-text-center">
          <ion-img src="../../assets/images/unread.png"></ion-img>
        </ion-col>
        <ion-col>MOCK</ion-col>
        <ion-col class="center">20-123456</ion-col>
        <ion-col size="3.5">הזמנה ממתינה לטיפול</ion-col>
        <ion-col size="2.5">
          <ion-button color="secondary" shape="round">פתיחה</ion-button>
          <ion-button class="small-circle-btn" fill="clear" (click)="notifications.splice(0,1)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
