<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div class="buttons-row">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToProductsList()">מוצרים</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToOrdersList()">הזמנות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToReturnsList()">החזרות</ion-button>
      </div>
    </div>
    <div class="buttons-row">
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round" (click)="navService.goToSettings()">הגדרות</ion-button>
      </div>
      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round">דוחות</ion-button>
      </div>
    </div>

  </div>

  <div id="notifications-title">
    <p>הודעות ועדכונים</p>
  </div>

  <div class="page-container">

    <app-notifications-table></app-notifications-table>

  </div>

</ion-content>
