ion-toolbar {
  --background: #f0f0f0;
  color: var(--ion-color-primary);
}

ion-content {
  --background: white;
}

#price-offer {
  mat-form-field {
    max-width: 10em !important;
  }
  ion-col {
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
    }
  }
}

ion-note {
  align-self: center;
  padding-inline-start: 0.5em;
  font-size: 0.8em;
}

#product-item {
  white-space: normal;
}
