<ion-header>
  <app-header pageTitle="רשימת ספקים"></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="upper-section">

      <ion-searchbar placeholder="הקלד שם ספק" (ionChange)="search()" [(ngModel)]="query">
        <ion-icon src="../../assets/svg/search.svg"></ion-icon>
      </ion-searchbar>

      <div>
        <ion-button shape="round" color="secondary" strong="true" (click)="navService.goToEditSupplier('new')">
          <ion-icon slot="start" name="add"></ion-icon>
          <ion-text>הקמת ספק חדש</ion-text>
        </ion-button>
        <ion-button shape="round" color="dark" strong="true" class="ion-text-capitalize" (click)="excel.click()">טעינת קובץ Excel</ion-button>
        <input type="file" class="ion-hide" accept=".xlsx, .xls, .csv" #excel (change)="importFromExcel($event)">
      </div>

    </div>

    <div id="table-section">

      <ion-grid class="app-table">

        <div *ngIf="!suppliersService.mySuppliers.length">
          <h4 class="ion-text-center">
            <ion-text color="medium">- לא קיימים ספקים -</ion-text>
          </h4>
        </div>

        <ion-row *ngIf="suppliersService.mySuppliers.length">
          <ion-col size="1"></ion-col>
          <ion-col>שם הספק</ion-col>
          <ion-col>מס. ספק</ion-col>
          <ion-col>איש קשר</ion-col>
          <ion-col>טלפון</ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>

        <ion-row *ngFor="let supplier of results">
          <ion-col size="1">
            <ion-icon name="alert-circle" color="warning"
                      *ngIf="!hasAllRequired(supplier)"
                      matTooltip="חסרים פרטים"
            ></ion-icon>
          </ion-col>
          <ion-col>
            <ion-img [src]="supplier.logo" class="ion-margin-end"></ion-img>
            <ion-text>{{supplier.name}}</ion-text>
          </ion-col>
          <ion-col>{{supplier.nid | number : '3.0-0'}}</ion-col>
          <ion-col>{{(supplier.contacts && supplier.contacts[0]) ? supplier.contacts[0].name : ''}}</ion-col>
          <ion-col>{{(supplier.contacts && supplier.contacts[0]) ? supplier.contacts[0].phone : ''}}</ion-col>
          <ion-col size="1">
            <ion-button fill="clear" color="dark" (click)="navService.goToEditSupplier(supplier.id)">
              <ion-icon slot="icon-only" src="../../assets/svg/icon_pen.svg"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1">
            <ion-button class="small-circle-btn" fill="clear" color="secondary" (click)="deleteSupplier(supplier)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>

      </ion-grid>

      <app-pagination
              [numOfResults]="results.length"
              [totalNumOfResults]="(filteredSuppliers || suppliersService.mySuppliers).length"
              (onForward)="page = page + 1"
              (onBack)="page = page - 1"
      ></app-pagination>

    </div>

    <ion-row>
      <ion-button shape="round" strong="true" style="margin: 1em auto" (click)="navService.goToMain()">חזרה למסך הראשי</ion-button>
    </ion-row>

  </div>

</ion-content>
