<ion-grid id="notifications-table">

  <ion-row>
    <ion-col size="1" class="center">סטטוס</ion-col>
    <ion-col size="2" class="center">התקבלה</ion-col>
    <ion-col class="center">{{businessColumnTitle}}</ion-col>
    <ion-col size="2" class="center">מספר הזמנה</ion-col>
    <ion-col size="5.5">נושא</ion-col>
  </ion-row>

  <div *ngIf="!notificationsService.myNotifications.length" id="no-notes">אין הודעות</div>

  <ion-row *ngFor="let note of notificationsService.myNotifications; let odd = odd" [ngClass]="odd ? '' : 'odd'">
    <ion-col size="1" class="ion-text-center">
      <ion-img [src]="'../../assets/images/' + (isNotificationRead(note) ? 'read' : 'unread') + '.png'"
               (click)="notificationsService.markAsRead(note, true)"
               style="cursor: pointer"
               [title]="isNotificationRead(note) ? 'סמן כלא נקרא' : ''"
      ></ion-img>
    </ion-col>
    <ion-col size="2">{{note.time | date : 'dd/MM/yyyy HH:mm'}}</ion-col>
    <ion-col class="center">{{note.businessName}}</ion-col>
    <ion-col size="2" class="center">{{note.orderSerial}}</ion-col>
    <ion-col size="3.5" [ngStyle]="{fontWeight: isNotificationRead(note) ? 'normal' : 'bold'}">{{note.text}}</ion-col>
    <ion-col size="2">
      <ion-button color="secondary" shape="round" (click)="openNotification(note)">פתיחה</ion-button>
      <ion-button class="small-circle-btn" fill="clear" (click)="onDeleteClicked(note.id)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-row>
  <ion-button fill="outline" color="dark" shape="round" size="small"
              *ngIf="!notificationsService.noMoreNotes"
              (click)="notificationsService.loadOlderNotifications()"
              style="margin: 0 auto 1em">טען ישנות יותר</ion-button>
</ion-row>
