<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>הפקת דו"ח</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light">

  <div *ngIf="step == 1 && generateMode" class="page-container">

    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>סטטוס הזמנות</ion-card-subtitle>
      </ion-card-header>

      <ion-radio-group [(ngModel)]="orderStatus">
        <ion-item>
          <ion-radio slot="start" value="all"></ion-radio>
          <ion-label>כל ההזמנות</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="opened"></ion-radio>
          <ion-label>הזמנות פתוחות</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="closed"></ion-radio>
          <ion-label>הזמנות סגורות</ion-label>
        </ion-item>
        <ion-item>
          <ion-radio slot="start" value="canceled"></ion-radio>
          <ion-label>הזמנות מבוטלות</ion-label>
        </ion-item>
      </ion-radio-group>

    </ion-card>

    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>תאריך יצירה</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <mat-form-field>
          <mat-label>מתאריך</mat-label>
          <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" readonly [max]="today" (dateChange)="fromDate > toDate ? toDate = fromDate : ''">
          <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="narrowScreen" #fromPicker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>עד תאריך</mat-label>
          <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" readonly [min]="fromDate" [max]="today">
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="narrowScreen" #toPicker></mat-datepicker>
        </mat-form-field>

      </ion-card-content>

    </ion-card>

    <div class="okBtn">
      <ion-button shape="round" (click)="step = 2">
        <ion-text>הבא</ion-text>
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </div>

  </div>


  <div *ngIf="step == 2 && generateMode" class="page-container">

    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>סינון (אופציונאלי)</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <mat-form-field class="fullMatInput">
            <mat-chip-list #chipListBusiness>
              <mat-chip
                      *ngFor="let business of bids; let i = index"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="bids.splice(i,1)">
                {{getBusinessById(business)?.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input  #inputBusiness
                      [placeholder]="businessTitle"
                      [matAutocomplete]="autoBusiness"
                      [matChipInputFor]="chipListBusiness">
            </mat-chip-list>
            <mat-autocomplete #autoBusiness="matAutocomplete" autoActiveFirstOption (optionSelected)="bids.push($event.option.value); inputBusiness.value = ''">
              <mat-option *ngFor="let business of filteredAutoComplete(businessesList, 'name', inputBusiness.value)" [value]="business.id">{{business.name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-item>

        <ion-item>
          <mat-form-field class="fullMatInput">
            <mat-chip-list #chipListProducts>
              <mat-chip
                      *ngFor="let product of productsIds; let i = index"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="productsIds.splice(i,1)">
                {{getProductById(product)?.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input  #inputProducts
                      placeholder="מוצרים"
                      [matAutocomplete]="autoProducts"
                      [matChipInputFor]="chipListProducts">
            </mat-chip-list>
            <mat-autocomplete #autoProducts="matAutocomplete" autoActiveFirstOption (optionSelected)="productsIds.push($event.option.value); inputProducts.value = ''">
              <mat-option *ngFor="let product of filteredAutoComplete(productsList, 'name', inputProducts.value)" [value]="product.id">{{product.name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-item>

        <ion-item>
          <mat-form-field class="fullMatInput">
            <mat-chip-list #chipListCategories>
              <mat-chip
                      *ngFor="let category of categories; let i = index"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="categories.splice(i,1)">
                {{category}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input  #inputCategories
                      placeholder="קטגוריות"
                      [matAutocomplete]="autoCategories"
                      [matChipInputFor]="chipListCategories">
            </mat-chip-list>
            <mat-autocomplete #autoCategories="matAutocomplete" autoActiveFirstOption (optionSelected)="categories.push($event.option.value); inputCategories.value = ''">
              <mat-option *ngFor="let category of filteredAutoComplete(categoriesList, 'title', inputCategories.value)" [value]="category.title">{{category.title}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </ion-item>

        <ion-item-divider>תאריך אספקה</ion-item-divider>
        <ion-item lines="none">
          <mat-form-field>
            <mat-label>מתאריך</mat-label>
            <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromSupplyDate" readonly [max]="today" (dateChange)="fromSupplyDate > toSupplyDate ? toSupplyDate = fromSupplyDate : ''">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="narrowScreen" #fromPicker></mat-datepicker>
          </mat-form-field>
        </ion-item>
        <ion-item>
          <mat-form-field>
            <mat-label>עד תאריך</mat-label>
            <input matInput [matDatepicker]="toPicker" [(ngModel)]="toSupplyDate" readonly [min]="fromSupplyDate" [max]="today">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker [touchUi]="narrowScreen" #toPicker></mat-datepicker>
          </mat-form-field>
        </ion-item>

        <ion-item-divider>מספר הזמנה</ion-item-divider>
        <ion-item lines="none">
          <mat-form-field>
            <mat-label>ממספר</mat-label>
            <input matInput inputmode="numeric" maxlength="7" name="serialNum1" #serial1 (change)="onSerialChange(serial1)" [(ngModel)]="fromSerial">
          </mat-form-field>
        </ion-item>
        <ion-item>
          <mat-form-field>
            <mat-label>עד מספר</mat-label>
            <input matInput inputmode="numeric" maxlength="7" name="serialNum2" #serial2 (change)="onSerialChange(serial2)" [(ngModel)]="toSerial">
          </mat-form-field>
        </ion-item>

      </ion-card-content>

    </ion-card>

    <div class="okBtn">
      <ion-button shape="round" color="tertiary" (click)="step = 1">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        <ion-text>הקודם</ion-text>
      </ion-button>
      <ion-button shape="round" (click)="getResults()">
        <ion-text>הבא</ion-text>
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </div>

  </div>


  <div *ngIf="step == 3 && generateMode" class="page-container">

    <ion-item>
      <ion-label color="success">{{numOfRecords()}} רשומות נמצאו.</ion-label>
    </ion-item>

    <ion-card>

      <ion-card-header>
        <ion-card-subtitle>שדות להצגה</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content id="fields-lists">

        <ion-list>

          <ion-item-divider *ngIf="unselectedOrderProps.length || narrowScreen">
            <ion-text>מאפייני הזמנה</ion-text>
            <ion-button slot="end" fill="clear" *ngIf="!narrowScreen" (click)="reportsGeneratorService.selectAllOrderProps()">בחר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of (narrowScreen ? reportsGeneratorService.orderProperties : unselectedOrderProps)" button
                    [color]="reportsGeneratorService.selectedOrderProperties.has(prop) ? 'tertiary' : ''"
                    (click)="reportsGeneratorService.selectedOrderProperties.has(prop) ? reportsGeneratorService.selectedOrderProperties.delete(prop) : reportsGeneratorService.selectedOrderProperties.add(prop)">
            <ion-icon *ngIf="!narrowScreen" slot="start" name="add-circle" color="success"></ion-icon>
            <ion-label>{{prop | propertyName : 'order'}}</ion-label>
          </ion-item>

          <ion-item-divider *ngIf="unselectedBusinessProps.length || narrowScreen">
            <ion-text>מאפייני עסק</ion-text>
            <ion-button slot="end" fill="clear" *ngIf="!narrowScreen" (click)="reportsGeneratorService.selectAllBusinessProps()">בחר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of (narrowScreen ? reportsGeneratorService.businessProperties : unselectedBusinessProps)" button
                    [color]="reportsGeneratorService.selectedBusinessProperties.has(prop) ? 'tertiary' : ''"
                    (click)="reportsGeneratorService.selectedBusinessProperties.has(prop) ? reportsGeneratorService.selectedBusinessProperties.delete(prop) : reportsGeneratorService.selectedBusinessProperties.add(prop)">
            <ion-icon *ngIf="!narrowScreen" slot="start" name="add-circle" color="success"></ion-icon>
            <ion-label>{{prop | propertyName : 'business'}}</ion-label>
          </ion-item>

          <ion-item-divider *ngIf="unselectedProductsProps.length || narrowScreen">
            <ion-text>מאפייני מוצר</ion-text>
            <ion-button slot="end" fill="clear" *ngIf="!narrowScreen" (click)="reportsGeneratorService.selectAllProductsProps()">בחר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of (narrowScreen ? reportsGeneratorService.productProperties : unselectedProductsProps)" button
                    [color]="reportsGeneratorService.selectedProductProperties.has(prop) ? 'tertiary' : ''"
                    (click)="reportsGeneratorService.selectedProductProperties.has(prop) ? reportsGeneratorService.selectedProductProperties.delete(prop) : reportsGeneratorService.selectedProductProperties.add(prop)">
            <ion-icon *ngIf="!narrowScreen" slot="start" name="add-circle" color="success"></ion-icon>
            <ion-label>{{prop | propertyName : 'product'}}</ion-label>
          </ion-item>

        </ion-list>

        <ion-list *ngIf="!narrowScreen">

          <ion-item-divider *ngIf="reportsGeneratorService.selectedOrderProperties.size">
            <ion-text>מאפייני הזמנה</ion-text>
            <ion-button slot="end" fill="clear" (click)="reportsGeneratorService.selectedOrderProperties.clear()">הסר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of reportsGeneratorService.selectedOrderProperties" button (click)="reportsGeneratorService.selectedOrderProperties.delete(prop)">
            <ion-icon slot="start" name="remove-circle" color="danger"></ion-icon>
            <ion-label>{{prop | propertyName : 'order'}}</ion-label>
          </ion-item>

          <ion-item-divider *ngIf="reportsGeneratorService.selectedBusinessProperties.size">
            <ion-text>מאפייני עסק</ion-text>
            <ion-button slot="end" fill="clear" (click)="reportsGeneratorService.selectedBusinessProperties.clear()">הסר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of reportsGeneratorService.selectedBusinessProperties" button (click)="reportsGeneratorService.selectedBusinessProperties.delete(prop)">
            <ion-icon slot="start" name="remove-circle" color="danger"></ion-icon>
            <ion-label>{{prop | propertyName : 'business'}}</ion-label>
          </ion-item>

          <ion-item-divider *ngIf="reportsGeneratorService.selectedProductProperties.size">
            <ion-text>מאפייני מוצר</ion-text>
            <ion-button slot="end" fill="clear" (click)="reportsGeneratorService.selectedProductProperties.clear()">הסר הכל</ion-button>
          </ion-item-divider>

          <ion-item *ngFor="let prop of reportsGeneratorService.selectedProductProperties" button (click)="reportsGeneratorService.selectedProductProperties.delete(prop)">
            <ion-icon slot="start" name="remove-circle" color="danger"></ion-icon>
            <ion-label>{{prop | propertyName : 'product'}}</ion-label>
          </ion-item>

        </ion-list>

      </ion-card-content>

    </ion-card>

    <div class="okBtn">
      <ion-button shape="round" color="tertiary" (click)="step = 2">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        <ion-text>הקודם</ion-text>
      </ion-button>
    </div>

  </div>

  <div *ngIf="step == 4" style="height: 95%">

    <ion-card id="table-wrapper"></ion-card>

    <div class="okBtn">
      <ion-button shape="round" color="tertiary" (click)="step = 3" *ngIf="generateMode">
        <ion-icon slot="start" name="chevron-back"></ion-icon>
        <ion-text>הקודם</ion-text>
      </ion-button>
      <ion-button shape="round" color="secondary" title="הורד קובץ xlsx" (click)="downloadFile()">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="secondary" title="שלח להדפסה" (click)="printTable()">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="secondary" title="שלח מייל" (click)="sendEmail()">
        <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      </ion-button>
    </div>

  </div>

</ion-content>



<ion-footer *ngIf="step == 3">
  <div class="okBtn">
    <ion-button shape="round" color="secondary" (click)="createReport()">
      <ion-text>הפקת דו"ח</ion-text>
      <ion-icon slot="end" name="document-text-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
