<div *ngIf="(userDoc || role) && oldPermissions">

  <div id="grid">

    <ion-item *ngFor="let p of allPermissions" lines="none"
              [matTooltip]="p == UserPermission.MASTER ? 'הענק גישה לניהול משתמשים והתראות' : ''"
              [ngClass]="isShown(p) ? '' : 'ion-hide'"
    >

      <ion-checkbox slot="start"
                    [checked]="oldPermissions[p]"
                    [indeterminate]="intermediate.includes(p)"
                    [title]="intermediate.includes(p) ? 'קיימים משתמשים מדרג זה בעלי הגדרות שונות' : ''"
                    (ionChange)="onCheck(p, $event.detail.checked)"
                    [disabled]="isDisabled(p)"
      ></ion-checkbox>

      <ion-label [color]="p == UserPermission.MASTER ? 'danger' : ''">
        {{p | permissionName}}
      </ion-label>

    </ion-item>

  </div>

  <div id="buttons">
    <ion-button shape="round" color="dark"
                (click)="cancel()"
    >ביטול</ion-button>
    <ion-button shape="round"
                [disabled]="!hasChanges()"
                (click)="save()"
    >שמירת נתונים</ion-button>
  </div>

</div>
