<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img [src]="product.image || '../../assets/defaults/default_logo.png'">
  </ion-thumbnail>
  <ion-label>
    <h2>
      <ion-text>{{product.name}}</ion-text>
      <ion-icon name="information-circle" color="dark"></ion-icon>
    </h2>
    <p>מק"ט: {{product.nid}}</p>
    <h6>מחיר לק"ג | {{product.pricePerUnit}}</h6>
  </ion-label>
  <div class="item-amount">
    <ion-button class="small-circle-btn" fill="clear" color="secondary" (click)="amount = amount + 1">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-input inputmode="number" [(ngModel)]="amount"></ion-input>
    <ion-button class="small-circle-btn" fill="clear" color="secondary" (click)="amount = amount - 1">
      <ion-icon slot="icon-only" name="remove"></ion-icon>
    </ion-button>
  </div>
  <ion-button slot="end" color="secondary" shape="round" (click)="addToCart.emit(amount)">
    <ion-icon slot="icon-only" src="../../assets/svg/icon_cart.svg"></ion-icon>
  </ion-button>
</ion-item>
