ion-item {
  --background: transparent;
  user-select: none;
  --inner-padding-end: 0;
  ion-thumbnail {
    width: 4.5em;
    margin-top: 0;
    margin-bottom: 1em;
    height: 4.5em;
    background-color: white;
    img {
      object-fit: contain;
    }
  }
  .inner-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  h2 {
    font-weight: bold;
    color: var(--ion-color-primary);
    ion-text {
      margin: 0 0.5em;
    }
    ion-icon {
      height: 1.2em;
      width: 1.2em;
      vertical-align: top;
      cursor: pointer;
      pointer-events: all;
    }
  }
  .limit-text {
    position: absolute;
    font-size: small;
  }
  .item-amount {
    width: 8em;
    display: flex;
    align-items: center;
    margin: 2em 0 0;
    ion-input {
      width: 100%;
      background-color: white;
      border: solid var(--ion-color-medium) 1px;
      border-radius: 1em;
      font-size: smaller;
      text-align: center;
      margin: 0.5em;
      --padding-bottom: 0;
      --padding-top: 0;
      --padding-start: 0;
    }
  }
  ion-button[slot=end] {
    margin: auto auto 1em auto;
  }
  overflow: visible; // To see bubble outside of item's border
}

//.info-bubble {
//  position: absolute;
//  bottom: 6.5em;
//  margin: 0 13em;
//  padding: 1em;
//  background-color: var(--ion-color-dark);
//  font-size: x-small;
//  color: white;
//  height: auto;
//  width: 15em;
//  border-radius: 2em;
//  div {
//    position: absolute;
//    height: 1em;
//    border-bottom: solid var(--ion-color-dark) 1em;
//  }
//  &:after {
//    content: "";
//    right: -1em;
//    bottom: 0;
//    position: absolute;
//    border: solid transparent 1.2em;
//    border-bottom: solid var(--ion-color-dark) 2em;
//  }
//}
