<ion-item lines="none">
  <ion-thumbnail slot="start" class="ion-hide-xs-down">
    <img [src]="product.image || '../../assets/defaults/default_logo.png'">
  </ion-thumbnail>
  <div class="inner-wrapper">
    <ion-label class="ion-padding-end">
      <h2>
        <ion-icon name="information-circle" color="dark"
                  (click)="popInfo()"
                  [matTooltip]="isMobile ? '' : (product.description || 'לא קיים תיאור')"
                  matTooltipPosition="above"
        ></ion-icon>
        <ion-text>{{product.name}}</ion-text>
      </h2>
      <p>מק"ט: {{product.catalogNumS}}</p>
      <h6>
        <ion-text>מחיר ל</ion-text>
        <ion-text>{{null | unitAmount : product.type}}</ion-text>
        <ion-text> | </ion-text>
        <ion-text>{{product.price | price}}</ion-text>
      </h6>
    </ion-label>
    <div>
      <ion-text color="danger" class="limit-text" *ngIf="amount && amount < product.orderMin">מינימום הזמנה: {{product.orderMin | unitAmount : product.type}}</ion-text>
      <div class="item-amount">
        <ion-button class="small-circle-btn" fill="clear" color="secondary" (click)="amount = amount + 1">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-input [value]="inputValue()" (ionBlur)="onInputChange($event)" select-text (keyup.enter)="onInputChange($event)"></ion-input>
        <ion-button class="small-circle-btn" fill="clear" color="secondary" (click)="amount = amount - 1">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-item>

