#buttons-container {
  width: 70%;
  margin: auto;
}

.action-div {
  background-color: white;
  border: solid var(--ion-color-light) 1px;
  border-radius: 2em 2em 0 0;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.action-div:first-child {
  width: 100%;
}
.action-div:last-child {
  width: 130%;
  padding-left: 0;
}

.circle-btn {
  transform: translateY(30%);
  height: 10em;
  width: 10em;
  margin: auto;
  border-radius: 50%;
  border: solid white 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-button {
    height: 100%;
    width: 100%;
    --color: white;
    font-size: 1.6em;
  }
}
.circle-btn.primary {
  background-image: radial-gradient(var(--ion-color-primary-tint), var(--ion-color-primary-shade));
}
.circle-btn.dark {
  background-image: radial-gradient(var(--ion-color-dark-tint), var(--ion-color-dark-shade));
}

#system-and-weight {
  display: flex;
  height: 100%;
  #system-status {
    padding: 0 1em;
    display: flex;
    align-items: center;
    user-select: none;
    p {
      margin: 0 1em;
      font-size: larger;
    }
    ion-img {
      width: 2.5em;
      margin: 0 0.5em;
    }
    ion-img:after {
      display: flex;
      justify-content: center;
    }
    ion-img.on:after {
      content: 'פעיל';
    }
    ion-img.off:after {
      content: 'לא פעיל';
    }
  }
  #weight {
    background-color: var(--ion-color-primary);
    height: 100%;
    border-radius: 2em 0 0 0;
    display: flex;
    align-items: center;
    ion-button {
      width: 100%;
      height: 100%;
      --color: white;
    }
  }

}

#notifications-title {
  margin-top: 4em;
  height: 0;
  border-top: solid var(--ion-color-medium) 1px;
  p {
    margin: 0 auto;
    padding: 0.15em;
    transform: translateY(-50%);
    text-align: center;
    font-size: larger;
    background-color: white;
    border: solid var(--ion-color-medium) 1px;
    border-radius: 1em;
    width: 15em;
    user-select: none;
  }
}

#orders-table {
  width: 100%;
  margin: 2em 0;
  // Every row
  ion-row {
    padding: 0 2em;
    background-color: white;
  }
  // Odd rows color
  ion-row.odd {
    background-color: var(--ion-color-tertiary);
  }
  // First row (header)
  ion-row:first-child {
    background-color: var(--ion-color-primary);
    color: white;
    font-weight: bold;
  }
  // Every cell
  ion-col {
    display: flex;
    align-items: center;
  }
  // Centered text
  ion-col.center {
    justify-content: center;
  }
  // Space between buttons in last cell each row
  ion-col:last-child {
    justify-content: space-between;
  }
  // Size of the 'eye' image
  ion-img {
    height: 1.2em;
  }
  // Size of 'open' button
  ion-button {
    height: 1.6em;
    margin: 0;
  }
  // Properties for the circled delete button
  .del-btn {
    height: 1.7em;
    width: 1.7em;
    margin: 0;
    --padding-end: 0;
    --padding-start: 0;
    --border-width: 2px;
    --border-style: solid;
    --border-color: var(--ion-color-dark);
    --border-radius: 50%;
  }
}

#no-notes {
  height: 2em;
  background-color: var(--ion-color-tertiary);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
