<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="buttons-container">

      <div class="circle-btn primary">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    (click)="goToNewOrder()"
                    [disabled]="!userService.hasPermission(UserPermissions.NEW_ORDER)"
        >הזמנה<br>חדשה</ion-button>
      </div>
      <div class="action-div">
        <ion-button size="large" fill="clear" shape="round" strong="true" (click)="goToEditOrder()" [disabled]="!userService.hasPermission(UserPermissions.EDIT_ORDER)">
          <ion-icon slot="start" src="../../assets/svg/icon_order_edit.svg"></ion-icon>
          <ion-text>עריכת הזמנה</ion-text>
        </ion-button>
        <ion-button size="large" fill="clear" shape="round" strong="true" (click)="goToOrdersStatus()" [disabled]="!userService.hasPermission(UserPermissions.ORDER_STATUS)">
          <ion-icon slot="start" src="../../assets/svg/icon_order_status.svg"></ion-icon>
          <ion-text>סטטוס הזמנות</ion-text>
        </ion-button>
      </div>

      <div class="circle-btn dark">
        <ion-button size="large" fill="clear" strong="true" shape="round"
                    (click)="goToReceiveOrder()"
                    [disabled]="!userService.hasPermission(UserPermissions.ORDER_RECEIVE)"
        >קבלת<br>סחורה</ion-button>
      </div>
      <div class="action-div">
        <ion-button size="large" fill="clear" shape="round" color="dark" strong="true"
                    (click)="goToReturnGoods()"
                    [disabled]="!userService.hasPermission(UserPermissions.ORDER_RETURN)"
        >
          <ion-icon slot="start" src="../../assets/svg/icon_return_goods.svg"></ion-icon>
          <ion-text>החזרת סחורה</ion-text>
        </ion-button>
        <div id="system-and-weight">
          <div id="system-status">
            <p>מצב<br>מערכת</p>
            <ion-img src="../../assets/images/scales_on.png" class="on"></ion-img>
            <ion-img src="../../assets/images/printer_on.png" class="on"></ion-img>
            <ion-img [src]="cameraService.hasCamera ? '../../assets/images/camera_on.png' : '../../assets/images/camera_off.png'" [ngClass]="cameraService.hasCamera ? 'on' : 'off'"></ion-img>
          </div>
          <div id="weight">
            <ion-button size="large" fill="clear" strong="true"
                        (click)="weighTest()"
                        [disabled]="!userService.hasPermission(UserPermissions.USE_SCALES)"
            >שקילה</ion-button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="notifications-title">
    <p>הודעות ועדכונים</p>
  </div>

  <div class="page-container">

    <app-notifications-table></app-notifications-table>

  </div>

</ion-content>
