<ion-header>
  <app-header pageTitle="הגדרות"></app-header>
</ion-header>

<ion-content>

  <div class="page-container">

    <div id="menu-container">

      <div id="list">

        <div class="item">
          <p>הגדרת שפה</p>
          <mat-form-field>
            <mat-select value="he">
              <mat-option value="he">עברית</mat-option>
              <mat-option value="en" disabled>English</mat-option>
              <mat-option value="ar" disabled>العربية</mat-option>
            </mat-select>
          </mat-form-field>
          <ion-button color="secondary" shape="round">החל</ion-button>
        </div>

        <div class="item" (click)="navService.goToSuppliersList()" *ngIf="side == 'c' && usersService.hasPermission(UserPermission.SETTINGS_SUPPLIERS)">
          <p>עריכת ספקים</p>
        </div>

        <div class="item" (click)="navService.goToProductsList()" *ngIf="usersService.hasPermission(UserPermission.SETTINGS_PRODUCTS)">
          <p>עריכת מוצרים</p>
        </div>

        <div class="item" (click)="navService.goToCategoriesList()" *ngIf="side == 'c' && usersService.hasPermission(UserPermission.SETTINGS_CATEGORIES)">
          <p>עריכת קטגוריות</p>
        </div>

        <div class="item" (click)="navService.goToUsers()" *ngIf="amIAdmin">
          <p>הרשאות גישה</p>
        </div>

        <div class="item" (click)="openEquipmentSettings()" *ngIf="side == 'c' && usersService.hasPermission(UserPermission.SETTINGS_EQUIPMENT)">
          <p>הגדרות ציוד</p>
        </div>

        <div class="item" *ngIf="usersService.hasPermission(UserPermission.SETTINGS_GENERAL)">
          <ion-item lines="none" (click)="generalOpen = !generalOpen">
            <p>הגדרות כלליות</p>
            <ion-button slot="end" fill="clear" color="dark" shape="round">
              <ion-icon slot="icon-only" [name]="generalOpen ? 'caret-down-sharp' : 'caret-back-sharp'"></ion-icon>
            </ion-button>
          </ion-item>
        </div>

        <ion-list *ngIf="generalOpen">
          <ion-item (click)="setNotifications()">
            <p>הגדרות שליחת הודעות</p>
          </ion-item>
          <ion-item lines="none" (click)="navService.goToEditBusiness()">
            <p>עריכת פרטי עסק</p>
          </ion-item>
        </ion-list>

      </div>


    </div>

    <ion-row>
      <ion-button shape="round" (click)="navService.goToAppMain()" style="margin: auto">חזרה למסך ראשי</ion-button>
    </ion-row>

  </div>

</ion-content>
